<p>New Message has been received: </p>
<br/><br/>

<b>Name: </b>{{ contact_message.name }} <br/>
<b>Email: </b>{{ contact_message.email }}<br/><br/>

<b>Subject: </b>{{ contact_message.subject }}<br/><br/>
<b>Message: </b><br/>{{ contact_message.message }}