<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">
                                    89/412 Nehru nagar, Mohadi Road, Near Mehrun lake, Jalgaon</span>
                            </li>
                            <li>
                                <a href="#"><span class="icon icon-phone"></span><span
                                            class="text">+91 7820932512</span>
                                </a>
                            </li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">hexanovate@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Recent Blog</h2>
                    {% for blog in recent_blogs %}
						{% if forloop.counter < 3 %}
                        <div class="block-21 mb-4 d-flex">
                            <a href="{{ blog.get_absolute_url }}" class="blog-img mr-4" style="background-image: url({{ blog.thumbnail.url }});"></a>
                            <div class="text">
                                <h3 class="heading"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
                                <div class="meta">
                                    <div>
                                       
                                    </div>
                                    <div>
                                       
                                    </div>
                                    <!-- <div><a href="#"><span class="icon-chat"></span> 19</a></div> -->
                                </div>
                            </div>
                        </div>
						{% endif %}
					{% endfor %}
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                        <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                        <li><a href="/portfolio"><span class="ion-ios-arrow-round-forward mr-2"></span>Portfolio</a>
                        </li>
                        <li><a href="/#services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a>
                        </li>
                        <li><a href="/blogs"><span class="ion-ios-arrow-round-forward mr-2"></span>Blogs</a></li>
                        <li><a href="/contact-us"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Subscribe Us!</h2>
                    <form action="{% url 'hexanovate:subscribe' %}" method="post" class="subscribe-form">
						{% csrf_token %}
                        <div class="form-group">
                            <input name="email" type="email" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form>
                </div>

                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="https://twitter.com/hexanovate"><span
                                        class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/hexanovate/"><span
                                        class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/hexanovate/"><span
                                        class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/company/hexanovate/"><span
                                        class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>&copy; &nbsp;All rights reserved, Hexanovate</p>
            </div>
        </div>
    </div>
</footer>