{% load static %}

<section class="ftco-intro ftco-no-pb img" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-3 mb-md-0">{{ data }}</h2>
            </div>
            <div class="col-lg-3 col-md-4 ftco-animate">
                <p class="mb-0"><a href="/contact-us" class="btn btn-white py-3 px-4">Get in touch with us</a></p>
            </div>
        </div>
    </div>
</section>
