{% load static %}


<section class="hero-wrap hero-wrap-3" style="background-image: url('{% static 'images/bg_1.jpg' %}');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>

    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center">

                <h1 class="mb-2"><span>We know, what you need.</span></h1>
                <br>
                <h3><span>Grow your Business with our Innovative Software and Marketing Solutions</span></h3>
                <br>
                <p><a href="/contact-us" class="btn btn-primary px-4 py-3 mt-3">Feel Free to Call</a></p>
            </div>
        </div>
    </div>
</section>





