{% load static %}


{% url 'about' as about %}
{% url 'portfolio' as portfolio %}
{% url 'blogs:blog-list' as blog_list %}
{% url 'resources:resource-list' as resource_list %}
{% url 'gallery' as gallery %}
{% url 'contact-us' as contact_us %}
{% url 'product:products' as products %}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/hex_final.png' %}" width="160" height="60" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav">
                
                <li class="nav-item {% if request.path == about %}active{% endif %}"><a href="{{ about }}"
                                                                                        class="nav-link">About Us</a></li>
                <li class="nav-item {% if request.path == portfolio %}active{% endif %}"><a href="{{ portfolio }}"
                                                                                            class="nav-link">Portfolio</a>
                </li>

                 <li class="nav-item {% if request.path == products %}active{% endif %}"><a href="{{ products }}"
                    class="nav-link">Products</a>
                    </li>  

                <li class="nav-item {% if request.path == '/#services' %}active{% endif %}"><a href="/#services"
                                                                                               class="nav-link">Services</a>
                </li>
                <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
                <li class="nav-item dropdown {% if request.path == blog_list %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ blog_list }}">Blog Posts</a>
                        <a class="dropdown-item" href="{{ resource_list }}">Resources</a>
                    </div>
                </li>
                {% comment %} <li class="nav-item {% if request.path == gallery %}active{% endif %}">
                    <a href="{{ gallery }}" class="nav-link">Gallery</a>
                </li> {% endcomment %}
                <li class="nav-item ">
                    <a href="{{ contact_us }}" class="nav-link">Contact Us</a>
                </li>              
                {% comment %} {% include 'signup.html' %} {% endcomment %}
            
                {% comment %}<li class="nav-item">
                    <button class="loginBtn loginBtn--google">
                        Sign In with Google
                    </button>
                </li>{% endcomment %}
            </ul>

            <!--
            <ul class="navbar-nav">
                
                
                {% if request.user.is_authenticated %}
				<li class="nav-item"><a  href="/signup/" data-signin="login" class="nav-link" >{{request.user}}</a></li>
				<li class="nav-item"><a  href="#0" data-signin="login" class="nav-link">log out</a></li>
				{% else %}
				<li class="nav-item" ><a  href="#0" data-signin="login" class="nav-link">Sign in</a></li>
				<li class="nav-item"><a  href="#0" data-signin="signup" class="nav-link">Sign up</a></li>
				{% endif %}
                
                {% comment %} {% include 'signup.html' %} {% endcomment %}
            
                {% comment %}<li class="nav-item">
                    <button class="loginBtn loginBtn--google">
                        Sign In with Google
                    </button>
                </li>{% endcomment %}
            </ul>-->
        </div>
    
</nav>
