<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<div class="phoneicon">
    
    <a href='#'><i class="fas fa-phone"></i><span style="color:black;"><b> Call us:</b></span> <span style="color:#c21807;">+91 7820932512</a>
</div>
<div class="chat">
    <br>
    <a href='#'><i class="fas fa-comment"></i></a>
</div>