<section class="ftco-section justify-content-center">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-md-7 text-center heading-section pr-md-4 ftco-animate">
                <h2 class="mb-4">Our Principles</h2>
                <p>Our team strongly believes in...</p>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <!--  onclick="window.open('integrity.html','_self'); -->
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon"><svg xmlns="http://www.w3.org/2000/svg" width="50"
                                                                    height="50" viewBox="0 0 8 8">
											<path d="M5.88.03c-.18.01-.36.03-.53.09-.27.1-.53.25-.75.47a.5.5 0 1 0 .69.69c.11-.11.24-.17.38-.22.35-.12.78-.07 1.06.22.39.39.39 1.04 0 1.44l-1.5 1.5c-.44.44-.8.48-1.06.47-.26-.01-.41-.13-.41-.13a.5.5 0 1 0-.5.88s.34.22.84.25c.5.03 1.2-.16 1.81-.78l1.5-1.5c.78-.78.78-2.04 0-2.81-.28-.28-.61-.45-.97-.53-.18-.04-.38-.04-.56-.03zm-2 2.31c-.5-.02-1.19.15-1.78.75l-1.5 1.5c-.78.78-.78 2.04 0 2.81.56.56 1.36.72 2.06.47.27-.1.53-.25.75-.47a.5.5 0 1 0-.69-.69c-.11.11-.24.17-.38.22-.35.12-.78.07-1.06-.22-.39-.39-.39-1.04 0-1.44l1.5-1.5c.4-.4.75-.45 1.03-.44.28.01.47.09.47.09a.5.5 0 1 0 .44-.88s-.34-.2-.84-.22z"></path>
											</svg></span>
                            </div>
                            <div class="text media-body">
                                <h3>Integrity</h3>
                                <p>We provide outstanding products to deliver premium value to our customers.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon">
											<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 viewBox="0 0 16 16">
												<path fill-rule="evenodd"
                                                      d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"></path>
											</svg>
										</span>
                            </div>
                            <div class="text media-body">
                                <h3>Teamwork</h3>
                                <p>We believe that great things in business are done by a team of people.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon">
											<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 viewBox="0 0 8 8">
												<path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4c1.1 0 2.12-.43 2.84-1.16l-.72-.72c-.54.54-1.29.88-2.13.88-1.66 0-3-1.34-3-3s1.34-3 3-3c.83 0 1.55.36 2.09.91l-1.09 1.09h3v-3l-1.19 1.19c-.72-.72-1.71-1.19-2.81-1.19z"></path>
											</svg>
										</span>
                            </div>
                            <div class="text media-body">
                                <h3>Never Give Up</h3>
                                <p>We try to keep the ball rolling without getting blocked, with perseverance and
                                    consistency.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon">
											<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 viewBox="0 0 8 8">
												<path d="M0 0v7h7v-3.59l-1 1v1.59h-5v-5h3.59l1-1h-5.59zm7 0l-3 3-1-1-1 1 2 2 4-4-1-1z"></path>
												</svg>
										</span>
                            </div>
                            <div class="text media-body">
                                <h3>Ethics</h3>
                                <p>We are very loyal to our work. We maintain crystal clear transparency in dealing with
                                    clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon">
											<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 viewBox="0 0 16 16">
												<path fill-rule="evenodd"
                                                      d="M13 6l-5 5V4h3l2 2zm3 0l-8 8-8-8 4-4h8l4 4zm-8 6.5L14.5 6l-3-3h-7l-3 3L8 12.5z"></path>
											</svg>
										</span>
                            </div>
                            <div class="text media-body">
                                <h3>Quality</h3>
                                <p>We provide outstanding products and unsurpassed service to deliver premium value to
                                    our customers.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center">
										<span class="flaticon">
											<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50"
                                                 height="50" viewBox="0 0 47.001 47.001"
                                                 style="enable-background:new 0 0 47.001 47.001;" xml:space="preserve">
											<g>
												<g id="Layer_1_120_">
													<g>
														<g>
															<path d="M31.736,10.307c-0.111-0.112-0.249-0.193-0.398-0.24l-8.975-2.818c-3.589-1.127-5.924,0.839-6.553,1.47
																c-0.367,0.367-0.648,0.754-0.792,1.091l-3.998,9.404c-0.229,0.538-0.151,1.255,0.208,1.97c0.514,1.021,1.44,1.757,2.547,2.022
																c1.239,0.297,2.524-0.106,3.53-1.111c0.263-0.263,0.487-0.553,0.619-0.799l1.344-2.493c0.221-0.413,0.542-0.841,0.88-1.179
																c1.153-1.154,1.701-0.626,1.934-0.402c2.011,1.941,12.554,12.529,12.554,12.529c0.375,0.375,0.297,1.086-0.172,1.554
																c-0.468,0.467-1.18,0.547-1.554,0.174l-2.962-2.961c-0.382-0.383-0.998-0.383-1.38,0c-0.382,0.379-0.382,0.998,0,1.379
																l2.962,2.963c0.374,0.373,0.296,1.084-0.172,1.551c-0.468,0.469-1.181,0.547-1.553,0.174l-2.963-2.961
																c-0.382-0.382-1-0.382-1.38,0c-0.382,0.379-0.382,0.998,0,1.38l2.962,2.962c0.374,0.374,0.293,1.085-0.174,1.553
																c-0.467,0.467-1.178,0.547-1.553,0.172l-2.962-2.961c-0.38-0.381-0.999-0.381-1.38,0c-0.38,0.381-0.38,1,0,1.379l2.962,2.963
																c0.375,0.375,0.295,1.086-0.172,1.554c-0.47,0.468-1.181,0.547-1.554,0.173l-3.606-3.609c0.515-0.774,0.375-1.897-0.389-2.664
																c-0.856-0.855-2.173-0.934-2.935-0.17c0.762-0.763,0.687-2.078-0.171-2.935c-0.858-0.856-2.172-0.935-2.934-0.173
																c0.762-0.762,0.685-2.076-0.174-2.932c-0.856-0.858-2.17-0.936-2.934-0.174c0.764-0.762,0.685-2.076-0.172-2.935
																c-0.802-0.802-1.997-0.911-2.774-0.3l-5.839-5.839c-0.381-0.382-1-0.382-1.381,0c-0.38,0.38-0.38,0.999,0,1.381l5.824,5.823
																l-1.727,1.727c-0.762,0.761-0.685,2.075,0.174,2.934c0.856,0.856,2.17,0.935,2.933,0.172c-0.763,0.763-0.685,2.076,0.173,2.934
																c0.856,0.855,2.171,0.936,2.934,0.173c-0.763,0.763-0.686,2.076,0.172,2.933c0.858,0.858,2.172,0.936,2.934,0.174
																c-0.762,0.761-0.685,2.074,0.173,2.933c0.857,0.856,2.17,0.935,2.934,0.172l1.824-1.823l3.581,3.58
																c1.143,1.143,3.076,1.063,4.314-0.173c0.603-0.603,0.925-1.373,0.97-2.135c0.762-0.045,1.533-0.368,2.135-0.972
																c0.604-0.603,0.928-1.373,0.974-2.135c0.761-0.045,1.529-0.367,2.135-0.971c0.603-0.604,0.926-1.373,0.97-2.136
																c0.763-0.044,1.533-0.366,2.137-0.972c1.236-1.236,1.312-3.172,0.172-4.313l-1.51-1.511l6.2-6.199
																c0.381-0.38,0.381-0.999,0-1.38L31.736,10.307z"></path>
														</g>
														<g>
															<path d="M46.43,12.489l-7.901-7.901c-0.762-0.763-1.999-0.763-2.762,0l-2.762,2.76c-0.762,0.762-0.762,1.999,0,2.761
																l7.902,7.903c0.763,0.762,2,0.762,2.762,0l2.761-2.761C47.191,14.488,47.191,13.251,46.43,12.489z M42.283,16.513
																c-0.884,0-1.602-0.717-1.602-1.602c0-0.885,0.718-1.603,1.602-1.603c0.885,0,1.603,0.717,1.603,1.603
																C43.885,15.795,43.168,16.513,42.283,16.513z"></path>
														</g>
													</g>
												</g>
											</g>
											</svg></span>
                            </div>
                            <div class="text media-body">
                                <h3>Respect</h3>
                                <p>We value our people, encourage their development and reward their performance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
