<section class="ftco-section" id="services">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Our Recent Projects</h2>
                <p>Our team is engaged in a variety of influential projects. Below mentioned are some of the outstanding
                    outcomes.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class=""><svg
                                    width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 470 470" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    enable-background="new 0 0 470 470">
							<g> <path
                                        d="m202.5,405.883v-120.208c0-4.143-3.357-7.5-7.5-7.5h-50c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.5v112.708c-14.315,3.396-25,16.278-25,31.617 0,17.921 14.579,32.5 32.5,32.5s32.5-14.579 32.5-32.5c0-15.339-10.685-28.221-25-31.617zm-7.5,49.117c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                                        d="m282.5,405.883v-120.208c0-4.143-3.357-7.5-7.5-7.5h-49.999c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.499v112.708c-14.315,3.396-25,16.278-25,31.617 0,17.921 14.579,32.5 32.5,32.5s32.5-14.579 32.5-32.5c0-15.339-10.685-28.221-25-31.617zm-7.5,49.117c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                                        d="m410,355c-15.339,0-28.221,10.685-31.617,25h-15.883v-94.325c0-4.143-3.357-7.5-7.5-7.5h-50c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.5v94.325c0,4.143 3.357,7.5 7.5,7.5h23.383c3.396,14.315 16.278,25 31.617,25 17.921,0 32.5-14.579 32.5-32.5s-14.579-32.5-32.5-32.5zm0,50c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                                        d="M452.141,161.557c-10.108-12.55-23.837-21.848-39.113-26.592c-1.72-35.503-16.45-68.628-41.84-93.806   C344.422,14.617,308.922,0,271.226,0c-49.501,0-95.306,25.812-121.066,67.787c-6.264-1.975-12.775-2.972-19.434-2.972   c-30.637,0-56.983,21.626-63.336,51.105C28.044,126.127,0,161.988,0,203.101c0,49.667,40.406,90.074,90.073,90.074H107.5V380   H91.617C88.221,365.685,75.339,355,60,355c-17.921,0-32.5,14.579-32.5,32.5S42.079,420,60,420c15.339,0,28.221-10.685,31.617-25   H115c4.143,0,7.5-3.357,7.5-7.5V285.675c0-4.143-3.357-7.5-7.5-7.5H90.073C48.678,278.175,15,244.497,15,203.101   c0-35.723,25.395-66.688,60.383-73.627c3.155-0.625,5.561-3.193,5.978-6.383c3.229-24.671,24.451-43.275,49.365-43.275   c6.854,0,13.501,1.373,19.756,4.08c3.546,1.535,7.675,0.125,9.543-3.254C182.409,40.152,225.019,15,271.226,15   c69.384,0,126.34,56.438,126.966,125.812c0.031,3.466,2.433,6.458,5.809,7.239c30.028,6.949,51,33.351,51,64.203   c0,36.349-29.571,65.921-65.92,65.921H385c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h4.08c44.619,0,80.92-36.301,80.92-80.921   C470,193.859,463.657,175.854,452.141,161.557z M60,405c-9.649,0-17.5-7.851-17.5-17.5S50.351,370,60,370s17.5,7.851,17.5,17.5   S69.649,405,60,405z"></path><path
                                        d="m365.692,148.605h0.069c4.142-0.038 7.469-3.426 7.432-7.568-0.112-12.354-2.444-24.443-6.931-35.931-1.508-3.858-5.856-5.765-9.715-4.258s-5.765,5.856-4.258,9.715c3.822,9.784 5.808,20.083 5.903,30.61 0.039,4.12 3.389,7.432 7.5,7.432z"></path><path
                                        d="m338.278,86.756c1.483,1.796 3.626,2.724 5.786,2.724 1.683,0 3.375-0.563 4.772-1.718 3.193-2.638 3.644-7.365 1.006-10.559-19.53-23.643-48.185-37.203-78.615-37.203-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5c25.94,0 50.379,11.574 67.051,31.756z"></path></g>
						</svg></span></div>
                    <div class="text media-body">
                        <h3>DDrive</h3>
                        <p>"Distributed Drive": A blockchain based distributed storage system using Inter Planetary File
                            System.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg
                                    height="52" viewBox="0 0 64 64" width="50" xmlns="http://www.w3.org/2000/svg">
							<path d="m6 58h27v-2h-27a2 2 0 0 1 -2-2v-38h50v15h2v-21a4 4 0 0 0 -4-4h-46a4 4 0 0 0 -4 4v44a4 4 0 0 0 4 4zm0-50h46a2 2 0 0 1 2 2v4h-50v-4a2 2 0 0 1 2-2z"></path><path
                                        d="m6 10h2v2h-2z"></path><path d="m10 10h2v2h-2z"></path><path d="m14 10h2v2h-2z"></path><path
                                        d="m7 51h17v2h-17z"></path><path d="m9 47h2v2h-2z"></path><path d="m13 47h13v2h-13z"></path><path
                                        d="m18 41v-2.664a75.025 75.025 0 0 1 9.067-1.17l-.134-1.995a77.621 77.621 0 0 0 -8.933 1.129v-2.442a4 4 0 0 0 3-3.858c0-1.436-1.24-7-4-7s-4 5.564-4 7a4 4 0 0 0 3 3.858v2.832a63.577 63.577 0 0 0 -7 1.888v-17.578h40v6h2v-7a1 1 0 0 0 -1-1h-42a1 1 0 0 0 -1 1v24a1 1 0 0 0 1 1h18v-2h-17v-2.3a60.562 60.562 0 0 1 7-1.95v2.25zm-3-11c0-1.659 1.293-4.883 2-5 .712.117 2 3.341 2 5a2 2 0 0 1 -4 0z"></path><path
                                        d="m61.487 57.243-5.98-5.98a15.026 15.026 0 1 0 -4.244 4.244l5.98 5.98a1 1 0 0 0 1.414 0l2.83-2.83a1 1 0 0 0 0-1.414zm-31.487-14.243a13 13 0 1 1 13 13 13.015 13.015 0 0 1 -13-13zm27.95 16.366-5.09-5.09a15.02 15.02 0 0 0 1.416-1.416l5.09 5.09z"></path><path
                                        d="m43 32a11 11 0 1 0 11 11 11.013 11.013 0 0 0 -11-11zm0 20a9 9 0 1 1 9-9 9.011 9.011 0 0 1 -9 9z"></path><path
                                        d="m29.5 32.331 1-1.732a3 3 0 1 1 4.5-2.599h2a5 5 0 1 0 -7.5 4.331z"></path><path
                                        d="m19 2h26v2h-26z"></path><path d="m47 2h2v2h-2z"></path>
						</svg></span></div>
                    <div class="text media-body">
                        <h3>Detection of Image Forgery</h3>
                        <p>An application to detect copy-move and image-splicing forgery in an image for content
                            changing manipulation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class=""><svg
                                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 14 16">
							<path fill-rule="evenodd"
                                  d="M0 2l7-2 7 2v6.02C14 12.69 8.69 16 7 16c-1.69 0-7-3.31-7-7.98V2zm1 .75L7 1l6 1.75v5.268C13 12.104 8.449 15 7 15c-1.449 0-6-2.896-6-6.982V2.75zm1 .75L7 2v12c-1.207 0-5-2.482-5-5.985V3.5z"></path>
						</svg></span></div>
                    <div class="text media-body">
                        <h3>Kavach</h3>
                        <p>Blockchain Based Centralized KYC System for decentralized and secure personal data management
                            and sharing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


