{% load static %}

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url({% static 'images/bg_1.jpg' %})"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 py-5 px-md-3">
                <div  class="py-md-3">
                    <div class="heading-section heading-section-white ftco-animate mb-5 ">
                        <h2 class="mb-4">Have any questions?</h2>
                        <p>Let us know your query.</p>
                    </div>
                    
                    <form action="{% url 'hexanovate:post-question' %}" method="post" class="appointment-form ftco-animate">
                        {% csrf_token %}
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input name="Name" type="text" class="form-control" placeholder=" Name">
                            </div>
                            <div class="form-group ml-md-4">
                                <input name="E-mail" type="text" class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                    
                        <div class="d-md-flex">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="guidance" id="" class="form-control" placeholder="Select Guidance">
                                            <option value="Select Guidance">Select Guidance</option>
                                            <option value="Software Solutions">Software Solutions</option>
                                            <option value="Digital Marketing">Digital Marketing</option>
                                            <option value="Business">Business</option>
                                            <option value="Other Services">Other Services</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ml-md-4">
                                <input name="phone" type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <textarea name="message" id="" cols="30" rows="2" class="form-control"
                                          placeholder="Message"></textarea>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="submit" value="Submit" class="btn btn-white py-3 px-4">
                            </div>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</section>

