<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Recent</span> Blog</h2>
                <p>Stay updated with our recent activities.</p>
            </div>
        </div>
        <div class="row">
			{% for blog in recent_blogs %}
				{% if forloop.counter < 4 %}
					<div class="col-md-6 col-lg-4 ftco-animate">
						{% include 'blogs/blog-card.html' with  blog=blog %}
					</div>
				{% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</section>
