<section class="ftco-section" id="services">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Our Best Services</h2>
                <p>Growing your business with our best and rapid services is our major responsibility.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon">
							<svg height="50" viewBox="0 0 511.998 511" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m58.960938 187.046875c1.460937 1.460937 3.378906 2.195313 5.296874 2.195313 1.917969 0 3.835938-.730469 5.300782-2.195313 2.925781-2.925781 2.925781-7.671875 0-10.597656l-18.195313-18.195313 18.195313-18.191406c2.925781-2.929688 2.925781-7.671875 0-10.597656-2.925782-2.925782-7.671875-2.925782-10.597656 0l-23.492188 23.492187c-1.40625 1.40625-2.195312 3.3125-2.195312 5.296875 0 1.988282.789062 3.894532 2.195312 5.300782zm0 0"></path><path
                                        d="m133.320312 158.253906-18.195312 18.195313c-2.925781 2.925781-2.925781 7.671875.003906 10.597656 1.460938 1.460937 3.378906 2.195313 5.296875 2.195313s3.835938-.734376 5.296875-2.195313l23.496094-23.496094c2.925781-2.925781 2.925781-7.671875 0-10.59375l-23.496094-23.496093c-2.925781-2.925782-7.667968-2.925782-10.59375 0-2.929687 2.929687-2.929687 7.671874 0 10.597656zm0 0"></path><path
                                        d="m81.171875 188.722656c.898437.351563 1.828125.519532 2.738281.519532 2.992188 0 5.816406-1.804688 6.976563-4.753907l18.457031-46.988281c1.515625-3.851562-.382812-8.199219-4.234375-9.714844-3.847656-1.511718-8.199219.382813-9.710937 4.234375l-18.460938 46.988281c-1.511719 3.851563.382812 8.203126 4.234375 9.714844zm0 0"></path><path
                                        d="m45.007812 233.203125h50.480469c4.136719 0 7.492188-3.355469 7.492188-7.496094 0-4.136719-3.355469-7.492187-7.492188-7.492187h-50.480469c-4.140624 0-7.492187 3.355468-7.492187 7.492187 0 4.140625 3.351563 7.496094 7.492187 7.496094zm0 0"></path><path
                                        d="m211.753906 218.214844h-88.75c-4.136718 0-7.492187 3.355468-7.492187 7.492187 0 4.140625 3.355469 7.496094 7.492187 7.496094h88.75c4.140625 0 7.496094-3.355469 7.496094-7.496094 0-4.136719-3.355469-7.492187-7.496094-7.492187zm0 0"></path><path
                                        d="m45.007812 264.808594h21.503907c4.136719 0 7.492187-3.355469 7.492187-7.496094 0-4.136719-3.355468-7.492188-7.492187-7.492188h-21.503907c-4.140624 0-7.492187 3.355469-7.492187 7.492188 0 4.140625 3.351563 7.496094 7.492187 7.496094zm0 0"></path><path
                                        d="m184.339844 249.820312c-4.140625 0-7.492188 3.355469-7.492188 7.492188 0 4.140625 3.351563 7.496094 7.492188 7.496094h13.09375c4.140625 0 7.496094-3.355469 7.496094-7.496094 0-4.136719-3.355469-7.492188-7.496094-7.492188zm0 0"></path><path
                                        d="m164.617188 257.3125c0-4.136719-3.355469-7.492188-7.492188-7.492188h-64.320312c-4.140626 0-7.492188 3.355469-7.492188 7.492188 0 4.140625 3.351562 7.496094 7.492188 7.496094h64.320312c4.136719 0 7.492188-3.355469 7.492188-7.496094zm0 0"></path><path
                                        d="m213.703125 257.3125c0 4.140625 3.355469 7.496094 7.492187 7.496094h24.527344c4.140625 0 7.496094-3.355469 7.496094-7.496094 0-4.136719-3.355469-7.492188-7.496094-7.492188h-24.527344c-4.136718 0-7.492187 3.355469-7.492187 7.492188zm0 0"></path><path
                                        d="m172.894531 164.265625h25.871094c4.140625 0 7.496094-3.355469 7.496094-7.496094 0-4.136719-3.355469-7.492187-7.496094-7.492187h-25.871094c-4.140625 0-7.496093 3.355468-7.496093 7.492187 0 4.140625 3.355468 7.496094 7.496093 7.496094zm0 0"></path><path
                                        d="m227.742188 164.265625h157.855468c4.140625 0 7.492188-3.355469 7.492188-7.496094 0-4.136719-3.351563-7.492187-7.492188-7.492187h-157.855468c-4.140626 0-7.496094 3.355468-7.496094 7.492187 0 4.140625 3.355468 7.496094 7.496094 7.496094zm0 0"></path><path
                                        d="m361.621094 182.246094h-63.945313c-4.136719 0-7.492187 3.355468-7.492187 7.496094 0 4.136718 3.355468 7.492187 7.492187 7.492187h63.945313c4.136718 0 7.492187-3.355469 7.492187-7.492187 0-4.140626-3.355469-7.496094-7.492187-7.496094zm0 0"></path><path
                                        d="m273.699219 182.246094h-21.980469c-4.140625 0-7.492188 3.355468-7.492188 7.496094 0 4.136718 3.351563 7.492187 7.492188 7.492187h21.980469c4.140625 0 7.492187-3.355469 7.492187-7.492187 0-4.140626-3.351562-7.496094-7.492187-7.496094zm0 0"></path><path
                                        d="m172.894531 197.234375h53.847657c4.136718 0 7.492187-3.355469 7.492187-7.492187 0-4.140626-3.355469-7.496094-7.492187-7.496094h-53.847657c-4.140625 0-7.496093 3.355468-7.496093 7.496094 0 4.136718 3.355468 7.492187 7.496093 7.492187zm0 0"></path><path
                                        d="m157.21875 281.160156h-50.476562c-4.140626 0-7.496094 3.355469-7.496094 7.492188 0 4.136718 3.355468 7.492187 7.496094 7.492187h50.476562c4.136719 0 7.492188-3.355469 7.492188-7.492187 0-4.136719-3.355469-7.492188-7.492188-7.492188zm0 0"></path><path
                                        d="m83.789062 281.160156h-38.78125c-4.140624 0-7.492187 3.355469-7.492187 7.492188 0 4.136718 3.351563 7.492187 7.492187 7.492187h38.78125c4.140626 0 7.492188-3.355469 7.492188-7.492187 0-4.136719-3.351562-7.492188-7.492188-7.492188zm0 0"></path><path
                                        d="m248.722656 281.160156h-65.941406c-4.140625 0-7.492188 3.355469-7.492188 7.492188 0 4.136718 3.351563 7.492187 7.492188 7.492187h65.941406c4.136719 0 7.492188-3.355469 7.492188-7.492187 0-4.136719-3.355469-7.492188-7.492188-7.492188zm0 0"></path><path
                                        d="m337.898438 242.667969h-36.058594c-4.136719 0-7.492188 3.355469-7.492188 7.492187 0 4.140625 3.355469 7.496094 7.492188 7.496094h36.058594c4.140624 0 7.492187-3.355469 7.492187-7.496094 0-4.136718-3.351563-7.492187-7.492187-7.492187zm0 0"></path><path
                                        d="m400.46875 257.65625h50.902344c4.140625 0 7.496094-3.355469 7.496094-7.496094 0-4.136718-3.355469-7.492187-7.496094-7.492187h-50.902344c-4.140625 0-7.492188 3.355469-7.492188 7.492187 0 4.140625 3.355469 7.496094 7.492188 7.496094zm0 0"></path><path
                                        d="m375.015625 242.667969h-11.664063c-4.140624 0-7.496093 3.355469-7.496093 7.492187 0 4.140625 3.355469 7.496094 7.496093 7.496094h11.664063c4.140625 0 7.492187-3.355469 7.492187-7.496094 0-4.136718-3.351562-7.492187-7.492187-7.492187zm0 0"></path><path
                                        d="m301.839844 339.3125h36.058594c4.140624 0 7.492187-3.351562 7.492187-7.492188 0-4.136718-3.351563-7.492187-7.492187-7.492187h-36.058594c-4.136719 0-7.492188 3.355469-7.492188 7.492187 0 4.140626 3.355469 7.492188 7.492188 7.492188zm0 0"></path><path
                                        d="m400.46875 339.3125h50.902344c4.140625 0 7.496094-3.351562 7.496094-7.492188 0-4.136718-3.355469-7.492187-7.496094-7.492187h-50.902344c-4.140625 0-7.492188 3.355469-7.492188 7.492187 0 4.140626 3.355469 7.492188 7.492188 7.492188zm0 0"></path><path
                                        d="m363.351562 339.3125h11.664063c4.140625 0 7.496094-3.351562 7.496094-7.492188 0-4.136718-3.355469-7.492187-7.496094-7.492187h-11.664063c-4.140624 0-7.492187 3.355469-7.492187 7.492187 0 4.140626 3.351563 7.492188 7.492187 7.492188zm0 0"></path><path
                                        d="m337.898438 405.988281h-36.058594c-4.136719 0-7.492188 3.355469-7.492188 7.492188s3.355469 7.492187 7.492188 7.492187h36.058594c4.140624 0 7.492187-3.355468 7.492187-7.492187s-3.351563-7.492188-7.492187-7.492188zm0 0"></path><path
                                        d="m451.371094 405.988281h-50.902344c-4.140625 0-7.492188 3.355469-7.492188 7.492188s3.351563 7.492187 7.492188 7.492187h50.902344c4.140625 0 7.496094-3.355468 7.496094-7.492187s-3.355469-7.492188-7.496094-7.492188zm0 0"></path><path
                                        d="m375.015625 405.988281h-11.664063c-4.140624 0-7.496093 3.355469-7.496093 7.492188s3.355469 7.492187 7.496093 7.492187h11.664063c4.140625 0 7.492187-3.355468 7.492187-7.492187s-3.351562-7.492188-7.492187-7.492188zm0 0"></path><path
                                        d="m479.023438.5h-446.042969c-18.183594 0-32.980469 14.792969-32.980469 32.980469v362.566406c0 18.183594 14.796875 32.976563 32.980469 32.976563h28.199219c4.136718 0 7.492187-3.351563 7.492187-7.492188 0-4.136719-3.355469-7.492188-7.492187-7.492188h-28.199219c-9.921875 0-17.992188-8.070312-17.992188-17.992187v-28.425781h272.996094v12.914062h-5.941406c-8.128907 0-14.738281 6.609375-14.738281 14.738282v18.765624h-160.566407c-4.136719 0-7.492187 3.355469-7.492187 7.492188 0 4.140625 3.355468 7.492188 7.492187 7.492188h72.046875v26.875h-22.625c-15.09375 0-27.371094 12.28125-27.371094 27.371093v16.1875c0 6.886719 5.601563 12.488281 12.488282 12.488281h228.875c6.886718 0 12.488281-5.601562 12.488281-12.488281v-16.1875c0-15.089843-12.277344-27.371093-27.371094-27.371093h-22.625v-9.472657h138.527344c8.125 0 14.734375-6.609375 14.734375-14.738281v-3.527344c14.605469-3.390625 25.523438-16.496094 25.523438-32.113281l.566406-362.570313c.003906-18.183593-14.789063-32.976562-32.972656-32.976562zm-196.730469 349.28125v-35.917969h188.628906v35.917969zm20.675781-50.90625v-15.765625h147.273438v15.765625zm147.273438 65.890625v15.769531h-147.273438v-15.769531zm-256.472657 64.257813h73.535157v2.667968c0 8.125 6.609374 14.734375 14.738281 14.734375h35.617187v9.472657h-123.890625zm161.503907 41.863281c6.828124 0 12.382812 5.554687 12.382812 12.382812v13.691407h-223.882812v-13.691407c0-6.828125 5.558593-12.382812 12.386718-12.382812zm115.648437-39.449219h-188.628906v-35.914062h188.628906zm25.523437-35.390625c0 7.257813-4.328124 13.511719-10.535156 16.351563v-17.128907c0-8.125-6.613281-14.734375-14.738281-14.734375h-5.941406v-12.914062h31.214843zm0-43.410156h-10.78125c.152344-.847657.246094-39.023438.246094-39.023438 0-8.128906-6.613281-14.738281-14.738281-14.738281h-5.941406v-15.765625h5.941406c8.125 0 14.738281-6.613281 14.738281-14.738281v-36.417969c0-8.125-6.613281-14.738281-14.738281-14.738281h-42.324219c-4.140625 0-7.492187 3.355468-7.492187 7.496094 0 4.136718 3.351562 7.492187 7.492187 7.492187h42.074219v35.917969h-188.628906v-35.917969h99.929687c4.140625 0 7.492188-3.355469 7.492188-7.492187 0-4.140626-3.351563-7.496094-7.492188-7.496094h-100.179687c-8.128907 0-14.738281 6.613281-14.738281 14.738281v36.417969c0 8.125 6.609374 14.738281 14.738281 14.738281h5.941406v15.765625h-5.941406c-8.128907 0-14.738281 6.613281-14.738281 14.738281 0 0 .09375 38.175781.246093 39.023438h-252.5625v-250.207031h481.457031zm0-265.195313h-480.90625v-53.964844c0-9.917968 8.070313-17.988281 17.992188-17.988281h444.921875c9.921875 0 17.992187 8.070313 17.992187 17.992188zm0 0"></path><path
                                        d="m55.261719 29.261719c-12.125 0-21.988281 9.863281-21.988281 21.988281s9.863281 21.992188 21.988281 21.992188 21.992187-9.867188 21.992187-21.992188-9.867187-21.988281-21.992187-21.988281zm0 28.992187c-3.859375 0-7.003907-3.140625-7.003907-7.003906 0-3.859375 3.144532-7.003906 7.003907-7.003906 3.863281 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.140625 7.003906-7.003906 7.003906zm0 0"></path><path
                                        d="m111.25 29.261719c-12.125 0-21.992188 9.863281-21.992188 21.988281s9.867188 21.992188 21.992188 21.992188 21.988281-9.867188 21.988281-21.992188-9.867187-21.988281-21.988281-21.988281zm0 28.992187c-3.863281 0-7.003906-3.140625-7.003906-7.003906 0-3.859375 3.140625-7.003906 7.003906-7.003906 3.859375 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.144531 7.003906-7.003906 7.003906zm0 0"></path><path
                                        d="m167.234375 29.261719c-12.125 0-21.988281 9.863281-21.988281 21.988281s9.863281 21.992188 21.988281 21.992188 21.992187-9.867188 21.992187-21.992188-9.867187-21.988281-21.992187-21.988281zm0 28.992187c-3.859375 0-7.003906-3.140625-7.003906-7.003906 0-3.859375 3.144531-7.003906 7.003906-7.003906 3.863281 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.140625 7.003906-7.003906 7.003906zm0 0"></path></svg>
						</span></div>
                    <div class="text media-body">
                        <h3>Software Solutions</h3>
                        <p>Robust Mobile, Web and other Software Applications to help your business.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon">
							<svg width="50" height="50" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 460.94 460.94"
                                 style="enable-background:new 0 0 460.94 460.94;" xml:space="preserve">
								<path d="M460.791,405.148l-50.215-221c-0.621-2.732-3.049-4.67-5.851-4.67h-43.754l48.841-99.472
									c1.759-3.583,2.018-7.637,0.729-11.415s-3.973-6.828-7.556-8.587l-20.394-10.013c-7.398-3.633-16.37-0.569-20.001,6.828
									l-60.227,122.659H67.746c-2.802,0-5.23,1.938-5.851,4.67l-21.138,93.03c-8.74-1.196-16.592-5.761-22.01-12.951
									c-6.358-8.438-8.335-19.102-5.423-29.258l25.009-87.224c4.077-14.222,17.258-24.155,32.053-24.155h156.943
									c19.337,0,36.564-12.282,42.868-30.563l2.458-7.128c1.08-3.133-0.583-6.548-3.716-7.628c-3.133-1.08-6.548,0.583-7.628,3.716
									l-2.458,7.128c-4.635,13.442-17.303,22.474-31.523,22.474H70.385c-20.12,0-38.044,13.507-43.588,32.847L1.788,231.662
									c-3.96,13.811-1.272,28.313,7.375,39.787c7.16,9.501,17.445,15.634,28.927,17.466L11.68,405.148
									c-0.404,1.78,0.023,3.646,1.162,5.073c1.138,1.426,2.864,2.257,4.689,2.257H454.94c1.825,0,3.551-0.831,4.689-2.257
									C460.767,408.795,461.195,406.928,460.791,405.148z M96.954,317.478H43.906l14.769-65h49.4L96.954,317.478z M127.094,212.478H286.16
									l-30.339,61.79c-3.097,6.307-3.552,13.442-1.282,20.091c1.543,4.52,4.222,8.445,7.759,11.469l-4.88,9.939
									c-1.46,2.975-0.233,6.57,2.741,8.03c0.851,0.418,1.752,0.616,2.64,0.616c2.216,0,4.347-1.233,5.39-3.357l4.764-9.703
									c2.118,0.543,4.282,0.826,6.456,0.826c2.861,0,5.734-0.473,8.521-1.424c6.649-2.27,12.017-6.993,15.113-13.3l41.724-84.977h33.792
									l28.899,158H100.06L127.094,212.478z M373.361,62.108c0.511-1.041,1.56-1.646,2.648-1.646c0.435,0,0.877,0.097,1.293,0.301
									l20.394,10.013c0.953,0.468,1.342,1.261,1.489,1.692s0.324,1.296-0.144,2.249L292.272,292.165c-1.684,3.43-4.603,5.998-8.219,7.232
									c-3.617,1.234-7.497,0.986-10.925-0.697c-3.43-1.684-5.999-4.603-7.233-8.219s-0.987-7.496,0.697-10.925L373.361,62.108z
									M72.535,191.478h223.936l-4.419,9H122.033c-2.923,0-5.421,2.107-5.914,4.988l-5.991,35.012H61.402L72.535,191.478z M25.047,400.478
									l16.132-71h53.721l-7.869,45.988c-0.298,1.743,0.188,3.528,1.328,4.88c1.14,1.352,2.818,2.132,4.586,2.132h321.71
									c1.78,0,3.469-0.791,4.608-2.158c1.14-1.368,1.614-3.17,1.293-4.922l-31.094-170c-0.521-2.85-3.004-4.92-5.902-4.92H350.66l4.419-9
									h44.856l47.489,209H25.047z"></path>
							</svg>
						</span></div>
                    <div class="text media-body">
                        <h3>Graphic Designing</h3>
                        <p>Design fine quality posters and other visual arts for efficient publicity.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon">
							<svg height="50" viewBox="0 0 480 480.10132" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m430.691406 112.535156c17.609375-16.816406 22.335938-43.082031 11.695313-64.980468-10.640625-21.898438-34.210938-34.414063-58.3125-30.957032-24.101563 3.453125-43.210938 22.085938-47.269531 46.089844-4.0625 24.007812 7.855468 47.886719 29.476562 59.078125-8.980469 7.519531-14.1875 18.621094-14.230469 30.335937v64h-24v-64c-.042969-28.335937-21.226562-52.183593-49.359375-55.566406 16.570313-15.796875 21.855469-40.089844 13.347656-61.34375-8.507812-21.257812-29.09375-35.191406-51.988281-35.191406s-43.480469 13.933594-51.988281 35.191406c-8.507812 21.253906-3.222656 45.546875 13.347656 61.34375-28.132812 3.382813-49.316406 27.230469-49.359375 55.566406v64h-24v-64c-.042969-11.714843-5.25-22.816406-14.230469-30.335937 21.621094-11.191406 33.539063-35.070313 29.476563-59.078125-4.0625-24.003906-23.167969-42.636719-47.269531-46.089844-24.101563-3.457031-47.671875 9.058594-58.3125 30.957032-10.640625 21.898437-5.914063 48.164062 11.695312 64.980468-28.132812 3.382813-49.316406 27.230469-49.3593748 55.566406v120c.03125 21.601563 12.4804688 41.261719 31.9999998 50.519532v141.480468h16v-136.640624c2.625.375 56 .640624 56 .640624 4.417969 0 8 3.582032 8 8v128h64v-152h56v136h-32v16h80v-16h-32v-136h56v152h64v-128c0-4.417968 3.582031-8 8-8 0 0 53.375-.265624 56-.640624v136.640624h16v-141.480468c19.519531-9.257813 31.96875-28.917969 32-50.519532v-120c-.042969-28.335937-21.226562-52.183593-49.359375-55.566406zm-78.640625-40.433594c0-22.089843 17.910157-40 40-40 22.089844 0 40 17.910157 40 40 0 22.089844-17.910156 40-40 40-22.082031-.027343-39.972656-17.917968-40-40zm-94.945312 40-17.054688 25.601563-17.054687-25.601563zm-57.054688-56c0-22.089843 17.910157-40 40-40 22.089844 0 40 17.910157 40 40 0 22.089844-17.910156 40-40 40-22.082031-.027343-39.972656-17.917968-40-40zm-32 96c.066407-20.480468 15.621094-37.585937 36-39.59375l36 53.992188 36-54.015625c20.390625 2.007813 35.945313 19.128906 36 39.617187v64h-32v48h-80v-48h-32zm-120-80c0-22.089843 17.910157-40 40-40 22.089844 0 40 17.910157 40 40 0 22.089844-17.910156 40-40 40-22.082031-.027343-39.972656-17.917968-40-40zm112 392h-32v-112c0-13.253906-10.746093-24-24-24h-48c-22.082031-.027343-39.972656-17.917968-40-40v-120c.027344-22.082031 17.917969-39.972656 40-40h32c13.253907 0 24 10.746094 24 24v80h72v32h-96c-4.417969 0-8-3.582031-8-8v-96h-16v96c0 13.253907 10.746094 24 24 24h32c22.082031.027344 39.972657 17.917969 40 40zm15.359375-152c-1.75-12.164062-7.460937-23.410156-16.246094-32h161.773438c-8.785156 8.589844-14.496094 19.835938-16.246094 32zm288.640625-24c-.027343 22.082032-17.917969 39.972657-40 40h-48c-13.253906 0-24 10.746094-24 24v112h-32v-144c.027344-22.082031 17.917969-39.972656 40-40h32c13.253907 0 24-10.746093 24-24v-96h-16v96c0 4.417969-3.582031 8-8 8h-96v-32h72v-80c0-13.253906 10.746094-24 24-24h32c22.082031.027344 39.972657 17.917969 40 40zm0 0"></path>
							</svg>
						</span></div>
                    <div class="text media-body">
                        <h3>IT Consultancy and Training</h3>
                        <p>IT Solutions and Training sessions for your every business need.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                class="flaticon-search-engine"></span></div>
                    <div class="text media-body">
                        <h3>Search Engine Optimization</h3>
                        <p>Rank your web pages with our unique techniques and Search Engine guidelines.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                class="flaticon-rating"></span></div>
                    <div class="text media-body">
                        <h3>Content Marketing</h3>
                        <p>Create a greater impact on your audience with our well-arranged words.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon">
							<svg id="Layer_1" enable-background="new 0 0 511.926 511.926" height="50"
                                 viewBox="0 0 511.926 511.926" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m439.973 0h-22.01c-9.675 0-9.675 15 0 15h22.01c22.73 0 41.223 18.426 41.223 41.074v173.572c0 22.649-18.492 41.075-41.223 41.075h-24.963c-1.647 0-3.248.542-4.557 1.543l-45.806 35.038v-29.081c0-4.142-3.357-7.5-7.5-7.5h-91.28c-7.475 0-14.659-1.973-20.995-5.724v-84.192c0-15.77-8.032-29.703-20.229-37.946v-86.785c0-22.648 18.493-41.074 41.224-41.074h105.096c9.674 0 9.674-15 0-15h-105.096c-31.002 0-56.224 25.155-56.224 56.074v80.193c-3.434-.82-7.012-1.267-10.694-1.267h-137.296c-25.321 0-45.922 20.548-45.922 45.805v16.195c0 9.674 15 9.674 15 0v-16.195c0-16.986 13.871-30.805 30.922-30.805h137.297c17.051 0 30.923 13.819 30.923 30.805v87.178c-.09.662-.086 1.329 0 1.986v47.712c0 .943-.057 1.882-.142 2.816h-15.467c-17.043 0-31.251 12.301-34.197 28.468-.682.257-1.337.616-1.944 1.084l-33.545 25.901v-19.964c0-4.142-3.357-7.5-7.5-7.5h-75.425c-17.051 0-30.922-13.819-30.922-30.805v-75.681c0-9.674-15-9.674-15 0v75.682c0 25.257 20.601 45.805 45.922 45.805h67.926v27.73c0 6.016 7.305 9.625 12.084 5.937l37.835-29.213v84.375c0 19.125 15.597 34.683 34.767 34.683h46.025v17.501c0 6.014 7.305 9.627 12.083 5.937l30.356-23.438h8.968c19.17 0 34.767-15.559 34.767-34.683v-13.316c0-9.674-15-9.674-15 0v13.316c0 10.854-8.867 19.683-19.767 19.683h-11.527c-1.659 0-3.271.55-4.583 1.563l-20.298 15.671v-9.735c0-4.142-3.357-7.5-7.5-7.5h-53.525c-10.899 0-19.767-8.83-19.767-19.683v-97.134c0-10.854 8.867-19.683 19.767-19.683h97.433c10.899 0 19.767 8.83 19.767 19.683v36.819c0 9.674 15 9.674 15 0v-36.818c0-19.125-15.597-34.683-34.767-34.683h-66.91c.057-.937.086-38.818.086-38.818 6.613 2.659 13.703 4.041 20.995 4.041h83.78v36.76c0 6.001 7.274 9.614 12.057 5.957l55.846-42.717h22.423c31.001 0 56.223-25.155 56.223-56.075v-173.573c-.001-30.919-25.223-56.074-56.224-56.074z"></path><path
                                        d="m371.66 55.412c-9.523-2.431-19.227 5.093-19.227 14.933 0 10.751-3.918 21.112-11.027 29.169l-20.664 23.383c-1.338-2.053-3.65-3.412-6.283-3.412h-40.34c-4.143 0-7.5 3.358-7.5 7.5v90.765c0 4.142 3.357 7.5 7.5 7.5h40.34c3.031 0 5.635-1.801 6.818-4.387 8.167 4.99 17.631 7.688 27.26 7.688h71.292c10.894 0 19.881-9.453 19.37-20.319-.227-4.812.021-69.425.021-70.86 0-10.692-8.699-19.392-19.369-19.392l-37.073-.111 1.535-3.635c7.015-16.613 5.86-35.877-3.086-51.534-2.088-3.658-5.487-6.245-9.567-7.288-4.082-1.042 4.08 1.043 0 0-9.522-2.431 4.08 1.043 0 0zm-64.701 154.838h-25.34v-75.765h25.34zm112.87-77.271c2.422 0 4.392 1.97 4.392 4.392 0 1.427-.015 5.3-.035 10.551-.111 28.992-.185 56.45.029 61.014.078 1.647-.723 2.745-1.207 3.253-.838.878-1.967 1.361-3.179 1.361h-71.292c-8.498 0-16.815-2.945-23.421-8.292l-3.157-2.556v-58.531l30.691-34.729c9.533-10.804 14.783-24.689 14.783-39.098 0-.424.579-.534.771-.204 6.642 11.623 7.498 25.924 2.291 38.257l-5.919 14.019c-.977 2.313-.731 4.96.652 7.054 1.385 2.094 3.725 3.356 6.234 3.364z"></path><path
                                        d="m79.951 260.498c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h22.108l-4.13 24.979c-.676 4.086 2.09 7.947 6.176 8.623.415.069.826.102 1.232.102 3.604 0 6.783-2.605 7.391-6.278l4.534-27.425h18.093l-4.13 24.979c-.676 4.086 2.09 7.947 6.176 8.623.415.069.826.102 1.232.102 3.604 0 6.783-2.605 7.391-6.278l4.534-27.425h30.093c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-27.613l3.025-18.296h24.588c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-22.108l4.13-24.979c.676-4.086-2.09-7.947-6.176-8.623-4.091-.678-7.947 2.09-8.623 6.176l-4.534 27.425h-18.093l4.13-24.979c.676-4.086-2.09-7.947-6.176-8.623-4.096-.678-7.946 2.09-8.623 6.176l-4.534 27.425h-30.093c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h27.613l-3.025 18.296zm42.817-18.296h18.093l-3.025 18.296h-18.093z"></path><path
                                        d="m262.89 374.196c-6.056-4.986-14.113-6.953-22.195-4.988-10.357 2.515-20.808 12.197-20.808 28.156 0 9.933 3.625 18.555 11.082 26.359 6.091 6.375 14.881 12.437 28.499 19.657 1.099.583 2.306.874 3.513.874s2.414-.291 3.513-.874c23.758-12.595 39.58-25.24 39.58-46.016 0-16.046-10.822-25.629-21.548-28.008-8.058-1.788-15.87.11-21.636 4.84zm28.183 23.168c0 11.206-7.433 19.493-28.093 30.866-20.66-11.374-28.094-19.661-28.094-30.866 0-8.338 4.828-12.482 9.347-13.58.833-.202 1.725-.316 2.642-.316 3.399 0 7.136 1.57 9.44 6.037 1.313 2.542 3.967 4.118 6.814 4.059 2.859-.057 5.438-1.735 6.647-4.327 2.427-5.202 7.531-6.117 11.499-5.236 4.738 1.049 9.798 5.112 9.798 13.363z"></path>
							</svg>
						</span></div>
                    <div class="text media-body">
                        <h3>Social Media Marketing</h3>
                        <p>Generate leads from Social Media and enhance your Digital presence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

