{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<div class="icons">
    <a href='https://www.facebook.com/hexanovate/'><i class="fab fa-facebook"></i></i></a>
    <a href='https://www.linkedin.com/company/hexanovate/'><i class="fab fa-linkedin"></i></a>
    <a href='https://twitter.com/hexanovate'><i class="fab fa-twitter"></i></a>
    <a href='https://www.instagram.com/hexanovate/'><i class="fab fa-instagram"></i></a>
    <br>
    
</div>


  
