<!-- Social Share Buttons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<div class="socialshare">
  
        
            <a class="facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/">Facebook <i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#">Whatsapp <i class="fab fa-whatsapp"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{blog.title|title}}&source={{ request.build_absolute_uri }}">Linkedin <i class="fab fa-linkedin"></i></a>
            <a class="twitter" href="https://twitter.com/home?status=You%20should%20not%20miss%20this%20out...%20{{ request.build_absolute_uri }}">Twitter <i class="fab fa-twitter"></i></a>
        	
</div>