{% load static %}
<section class="ftco-intro ftco-no-pb img" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-0">Why work with us</h2>
                <br>
                <p>We understand what our customer needs. Our optimal, integral and cost effective services keeps our
                    clients attached with us. For us customer satisfaction is of utmost importance.</p>
            </div>
            <br>
            <div class="iframe-container">
                <iframe width="1424" height="558" src="https://www.youtube.com/embed/F-Q2Et7CxD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br>
            <div class="col-lg-3 col-md-4 ftco-animate"><br>
                <p class="mb-0"><a href="/about" class="btn btn-white py-3 px-4">Hear more about Us</a></p>
            </div>
        </div>
    </div>
</section>
