<div class="services-2 noborder-left text-center ftco-animate">
    <div class="icon mt-2 d-flex justify-content-center align-items-center">
        <span class="">
            <svg width="50" height="50"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 470 470"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 enable-background="new 0 0 470 470">
                <g> <path d="m202.5,405.883v-120.208c0-4.143-3.357-7.5-7.5-7.5h-50c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.5v112.708c-14.315,3.396-25,16.278-25,31.617 0,17.921 14.579,32.5 32.5,32.5s32.5-14.579 32.5-32.5c0-15.339-10.685-28.221-25-31.617zm-7.5,49.117c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                            d="m282.5,405.883v-120.208c0-4.143-3.357-7.5-7.5-7.5h-49.999c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.499v112.708c-14.315,3.396-25,16.278-25,31.617 0,17.921 14.579,32.5 32.5,32.5s32.5-14.579 32.5-32.5c0-15.339-10.685-28.221-25-31.617zm-7.5,49.117c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                            d="m410,355c-15.339,0-28.221,10.685-31.617,25h-15.883v-94.325c0-4.143-3.357-7.5-7.5-7.5h-50c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5h42.5v94.325c0,4.143 3.357,7.5 7.5,7.5h23.383c3.396,14.315 16.278,25 31.617,25 17.921,0 32.5-14.579 32.5-32.5s-14.579-32.5-32.5-32.5zm0,50c-9.649,0-17.5-7.851-17.5-17.5s7.851-17.5 17.5-17.5 17.5,7.851 17.5,17.5-7.851,17.5-17.5,17.5z"></path><path
                            d="M452.141,161.557c-10.108-12.55-23.837-21.848-39.113-26.592c-1.72-35.503-16.45-68.628-41.84-93.806   C344.422,14.617,308.922,0,271.226,0c-49.501,0-95.306,25.812-121.066,67.787c-6.264-1.975-12.775-2.972-19.434-2.972   c-30.637,0-56.983,21.626-63.336,51.105C28.044,126.127,0,161.988,0,203.101c0,49.667,40.406,90.074,90.073,90.074H107.5V380   H91.617C88.221,365.685,75.339,355,60,355c-17.921,0-32.5,14.579-32.5,32.5S42.079,420,60,420c15.339,0,28.221-10.685,31.617-25   H115c4.143,0,7.5-3.357,7.5-7.5V285.675c0-4.143-3.357-7.5-7.5-7.5H90.073C48.678,278.175,15,244.497,15,203.101   c0-35.723,25.395-66.688,60.383-73.627c3.155-0.625,5.561-3.193,5.978-6.383c3.229-24.671,24.451-43.275,49.365-43.275   c6.854,0,13.501,1.373,19.756,4.08c3.546,1.535,7.675,0.125,9.543-3.254C182.409,40.152,225.019,15,271.226,15   c69.384,0,126.34,56.438,126.966,125.812c0.031,3.466,2.433,6.458,5.809,7.239c30.028,6.949,51,33.351,51,64.203   c0,36.349-29.571,65.921-65.92,65.921H385c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h4.08c44.619,0,80.92-36.301,80.92-80.921   C470,193.859,463.657,175.854,452.141,161.557z M60,405c-9.649,0-17.5-7.851-17.5-17.5S50.351,370,60,370s17.5,7.851,17.5,17.5   S69.649,405,60,405z"></path><path
                            d="m365.692,148.605h0.069c4.142-0.038 7.469-3.426 7.432-7.568-0.112-12.354-2.444-24.443-6.931-35.931-1.508-3.858-5.856-5.765-9.715-4.258s-5.765,5.856-4.258,9.715c3.822,9.784 5.808,20.083 5.903,30.61 0.039,4.12 3.389,7.432 7.5,7.432z"></path><path
                            d="m338.278,86.756c1.483,1.796 3.626,2.724 5.786,2.724 1.683,0 3.375-0.563 4.772-1.718 3.193-2.638 3.644-7.365 1.006-10.559-19.53-23.643-48.185-37.203-78.615-37.203-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5 7.5,7.5c25.94,0 50.379,11.574 67.051,31.756z"></path></g>
            </svg>
        </span>
    </div>
    <div class="text media-body">
        <h3>DDrive</h3>
        <p>"Distributed Drive": A blockchain based distributed storage system using Inter Planetary File System.</p>
    </div>
</div>