<!--<div class="about-author d-flex p-4 bg-light justify-content-center">-->
<!--    &lt;!&ndash; <div class="bio mr-5">-->
<!--      <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">-->
<!--    </div> &ndash;&gt;-->
<!--    <div class="desc ">-->
<!--        <h3>About Hexanovate</h3>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem-->
<!--            necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente-->
<!--            consectetur similique, inventore eos fugit cupiditate numquam!</p>-->
<!--        <h3><a href="contact.html" class="btn btn-primary px-4 py-3 mt-3">Get in touch</a></h3>-->
<!--    </div>-->
<!--</div>-->