{#{% url 'blogs:blog-detail' blog.slug as blog_detail_url %}#}

<div class="blog-entry">
    <a href="{{ blog.get_absolute_url }}" class="block-20 d-flex align-items-end" style="background-image: url({{ blog.thumbnail.url }});">
        <div class="meta-date text-center p-2">
            <span class="day">{{ blog.date|date:'d' }}<sup>th</sup></span>
            <span class="mos">{{ blog.date|date:'M' }}</span>
            <span class="yr">{{ blog.date|date:'Y' }}</span>
{#			<span>{{ blog.date|date:"d M Y" }}</span>#}
        </div>
    </a>
    <div class="text bg-white p-4">
        <h3 class="heading">
            <a href="{{ blog.get_absolute_url }}">{{ blog.title|title }}</a>
        </h3>
        <p>{{ blog.short_description|truncatewords:35 }}</p>
        <div class="d-flex align-items-center mt-4">
            <p class="mb-0">
                <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"/>
                </a>
            </p>
            <p class="ml-auto mb-0">
				<b><span class="mr-2">{{ blog.author }}</span></b>
                <!-- <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> -->
            </p>
        </div>
    </div>
</div>

{#<script>#}
{#    function getMonthName(monthNumber) {#}
{#        const month = ["Jan", "Feb", "Mar", "April", "May", "June",#}
{#            "July", "August", "Sept", "Oct", "Nov", "Dec"];#}
{##}
{#        return month[monthNumber];#}
{#    }#}
{##}
{#    document.getElementById("month-{{ blog._id }}").innerHTML = getMonthName(new Date({{ blog.date }}).getMonth());#}
{##}
{#    document.getElementById("detail-link-image-{{ blog._id }}").href = window.location.origin + "/blogs/" + "{{ blog._id }}";#}
{#    document.getElementById("detail-link-{{ blog._id }}").href = window.location.origin + "/blogs/" + "{{ blog._id }}";#}
{#</script>#}

