{% url 'blogs:comments:post-comment' blog.id as post_comment_url %}

<div class="comment-form-wrap pt-5">
	<h3 class="mb-5 h4 font-weight-bold">Leave a comment</h3>
	<form action="{{ post_comment_url }}" method="post" class="p-5 bg-light">
		{% csrf_token %}
		<div class="form-group">
			<div class="form-row">
				<div class="col">
					<label for="name">Name *</label>
					<input type="text" class="form-control" id="name" name="name">
				</div>
				<div class="col">
					<label for="email">Email *</label>
					<input type="email" class="form-control" id="email" name="email">
				</div>
			</div>
		</div>
		
		
		<!--        <div class="form-group">-->
		<!--            <label for="website">Website</label>-->
		<!--            <input type="url" class="form-control" id="website">-->
		<!--        </div>-->

		<div class="form-group">
			<label for="message">Message</label>
			<textarea name="message" id="message" cols="5" rows="5" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
		</div>

	</form>
</div>