<div class="row mt-5">
    <div class="col text-center">
        <div class="block-27">
            <ul>
                
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}">&lt;</a></li>
                
                {% endif %}
                
                {% if page_obj %}
                <li class="active"><span>{{page_obj.number}}</span></li>
                {% endif %}

                {% if page_obj.has_next %}
                
                <li><a href="?page={{page_obj.next_page_number}}">&gt;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>