{% load static %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">{{ title }}</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">{{ from }} <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>{{ to }} <i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>
