<div class="project mb-4 img ftco-animate d-flex justify-content-center align-items-center"
     style="background-image: url({% static 'images/train.png' %});">
    <!-- <div class="overlay"></div>
    <div class="text text-center p-4">
        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
        <span>Web Design</span>
    </div> -->
</div>