{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Google Registration</title>
</head>
<body>
<h1>Google Login Test:</h1>
{% if user.is_authenticated %}
	<p>Welcome, {{ user.username }} !</p>

{% else %}
	<h1>My Google Login Project</h1>
	<a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

</body>
</html>