{% url 'hexanovate:post-contact-message' as post_contact_message_url %}

<form action="{{ post_contact_message_url }}" method="post" class="bg-light p-5 contact-form">
	{% csrf_token %}
    <div class="form-group">
        <input name="name" type="text" class="form-control" placeholder="Your Name">
    </div>
    <div class="form-group">
        <input name="email" type="email" class="form-control" placeholder="Your Email">
    </div>
    <div class="form-group">
        <input name="subject" type="text" class="form-control" placeholder="Subject">
    </div>
    <div class="form-group">
        <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
    </div>
</form>