{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
{% include "snippets/hero-wrap.html" with title='About Us' from='Home' to='About Us' %}
<br>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate justify-content-center text-center">
                <h2 class="mb-4">About Hexanovate</h2>
                <p>At Hexanovate,<br>
                    <B>TRUST</B> is our client's endowment<br>
                    <b>INNOVATION,</b> our pursed habit<br>
                    <b>DEVELOPMENT,</b> not just a goal but a vision for us.</p>
                <!-- <div class="row justify-content-center mb-5 pb-2 d-flex">
              </div> -->

            </div>
            <p><a href="/contact-us" class="btn btn-primary px-4 py-3 mt-3">Get in touch</a></p>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <!-- <div class="align-items-center d-flex"> -->
            <!-- <div class="img img-video d-flex align-items-center" style="background-image: url(images/about.jpg);">
                <div class="video justify-content-center">
                        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="ion-ios-play"></span>
                      </a>
                    </div>
    </div> --><div class="col-md-7 wrap-about pr-md-4 ftco-animate justify-content-center text-center">
        <h2 class="mb-4">Who we are</h2>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                
            </div>
            <!-- </div> -->
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <!-- <h2 class="mb-4">We Are the Best Consulting Agency</h2> -->
                <p>We are a group of technology enthusiasts, marketers, strategists, managers, and designers who are
                    focussed on providing resilient, robust, and scalable software solutions and digital marketing
                    services to our clients. Our team consists of graduates from IIT Indore and Walchand College of
                    Engineering, Sangli.</p>
                <p>We have developed innovative digital solutions, which are built upon our knowledge and expertise
                    base, that enable us to provide high returns on investments to the clients.</p>
                <p>In the post-digital age, technology is considered the major backbone for any business so as to have a
                    cutting edge over the competitors. We, at Hexanovate, understand our clients’ needs, and thus make a
                    proper move with apt innovation and a planned development. We strongly believe that a productive
                    vision is what truly makes a difference. Sales may rise or fall, but the service is what stays
                    forever.</p>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <!-- <div class="align-items-center d-flex"> -->
            <!-- <div class="img img-video d-flex align-items-center" style="background-image: url(images/about.jpg);">
                <div class="video justify-content-center">
                        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="ion-ios-play"></span>
                      </a>
                    </div>
    </div> -->
            
            <!-- </div> -->
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate justify-content-center text-center">
                <h2 class="mb-4">We Are the Best Consulting Agency</h2>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <p>When it comes to businesses, we provide you a complete package of services that will help you to grow
                    your business. You can rely on us for digital transformation and focus on operations specific to
                    your business. We come up with mobile, web application development, and other software solutions
                    with the use of apt technolgy, graphics designing, IT consultancy, SEO techniques, social media
                    marketing campaigns and content marketing. </p>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <!-- <div class="align-items-center d-flex"> -->
            <!-- <div class="img img-video d-flex align-items-center" style="background-image: url(images/about.jpg);">
                <div class="video justify-content-center">
                        <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="ion-ios-play"></span>
                      </a>
                    </div>
    </div> -->
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate justify-content-center text-center">   
                <h2 class="mb-4">Why work with us</h2>
            </div>
            <!-- </div> -->
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <!-- <h2 class="mb-4">We Are the Best Consulting Agency</h2> -->
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
            <p>Clients choose to work with us because of the specialities mentioned below.</p>
            <p><span><b>Transparency </b></span><br>We are transparent with our plans and decisions. We maintain a
                constant raport with our clients to convey the updates and have a discussion over that.</p>
            <p><span><b>Efficiency</b></span><br>Our team has in-depth knowledge of technology which helps us
                provide clients with the most effective package to grow your business.</p>
            <p><span><b>Pricing</b></span><br>We offer most competitive pricing packages customized to your needs
                without asking for any long-term commitments.</p>
            </div>
        </div>
    </div>
</section>




{% include "base/get-in-touch.html" with data="Do you have a project to discuss?" %}

<!--<section class="ftco-intro ftco-no-pb img" style="background-image: url(/static/images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-0">You Always Get the Best Guidance</h2>
            </div>
            <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
              <h2 class="mb-3 mb-md-0">You Always Get the Best Guidance</h2>
            </div> -->
            <!-- <div class="col-lg-3 col-md-4 ftco-animate">
                <p class="mb-0"><a href="about.ejs" class="btn btn-white py-3 px-4">Hear more about Us</a></p>
            </div> 
        </div>
    </div>
</section>-->

<section class="ftco-section justify-content-center">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <!-- <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border ftco-animate">
                    <div class="img" style="background-image: url(images/about.jpg); border"></div>
                    <div class="text">
                        <h3>Read Our Success Story for Inspiration</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-7 text-center heading-section pr-md-4 ftco-animate">
                <h2 class="mb-4">Our Vision</h2>
                <p>Set goals and objectives help us direct our vision and actions towards the excellence and
                    satisfaction.</p>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <!--  onclick="window.open('integrity.html','_self'); -->
                        <div class="services text-center">

                            <div class="text media-body">
                                <h3>Sustainable Growth</h3>
                                <p>Growth is an effect of well-planned utilization and optimal futuristic projections of
                                    resources, finances and personnels.</p>
                            </div>
                        </div>
                        <div class="services text-center">

                            <div class="text media-body">
                                <h3>Position/Recognition in Industry</h3>
                                <p>Though being a neophyte in service based industry, we aim to be recognised with
                                    continuous efforts and dedication.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">

                            <div class="text media-body">
                                <h3>Dealing with Change</h3>
                                <p>Aiming to be a dynamic organisation we incorporate ourselves to the ever-changing
                                    technical demands of industry.</p>
                            </div>
                        </div>
                        <div class="services text-center">

                            <div class="text media-body">
                                <h3>Excellent Customer Service</h3>
                                <p>Customer satisfaction being our primary objective, we make efforts at maintaining
                                    healthy and long-lasting customer relationships.</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">

                            <div class="text media-body">
                                <h3>Financial Sustainability</h3>
                                <p>Every organization must ensure their financial sustainability irrespective of any
                                    situation in industry.</p>
                            </div>
                        </div>
                        <!-- <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>
                            <div class="text media-body">
                                <h3>Respect</h3>
                                <p>We value our people, encourage their development and reward their performance.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-3 mb-md-0">We are always there with you.</h2>
            </div>
        </div>
    </div>
</section>

{% include "base/principles.html" %}
{% include "base/get-in-touch.html" with data="Discuss with our team for free." %}
{% include 'base/socialicons.html' %}
{% include 'base/phone.html' %}

{% endblock %}