{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" sizes="800x800" href="{% static 'images/site2.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %} Hexanovate {% endblock %}
	</title>
	{% include 'base/css.html' %}
    {% block base_head %}{% endblock %}
</head>
<body>
	{% include 'base/navbar.html' %}


	{% block content %}

	{% endblock %}

	{% include 'base/footer.html' %}
	{% include 'base/loader.html' %}
	{% include 'base/scripts.html' %}
</body>
</html>