{% extends "base.html" %}
{% load static %}

{% block title %} {{ blog.title|title }} {% endblock %}

{% block base_head %}
    <style>
        #editorBlogContent img {
            width: 100% !important;
        }
        #editorBlogContent h3 {
                text-align: left;
        }
				@media (max-width: 575.98px) {
      #editorBlogContent iframe {
            width: 100%; 
						
        } 
    }
    
    @media (max-width: 767.98px) {
       #editorBlogContent iframe {
            width: 100%; 
						
        } 
    }
    
    @media (max-width: 991.98px) {
       #editorBlogContent iframe {
            width: 100%; 
						
        } 
      }
    
    @media (max-width: 1199.98px) {
       #editorBlogContent iframe {
            width: 100%; 
						
						
        } 
       }

    </style>
{% endblock %}

{% block content %}

	
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ftco-animate">
					<h2 class="mb-3" style="font-size: 35px; font-weight: 700;">{{ blog.title|title }}</h2>

					<!-- Blog Content extracted from Rich Text editor -->
					<div id="editorBlogContent">
						{% autoescape off %}
							{{ blog.content }}
						{% endautoescape %}
					</div>
	
					
					

					<div class="tag-widget post-tag-container mb-5 mt-5">
						<div class="tagcloud">
							{% for tag in blog.tags.all %}
								<a href="#" class="tag-cloud-link">{{ tag.title }}</a>
							{% endfor %}
						</div>
					</div>
					
					
					

					{% include "blogs/about-hexanovate.html" %}

					                

					<div class="pt-5 mt-5">
						<h3 class="mb-5 h4 font-weight-bold">{{ blog.comments.all|length }} Comments</h3>
						<ul class="comment-list">
							{% for comment in blog.comments.all %}
								<li class="comment">
									{% include "blogs/comment.html" with comment=comment %}
								</li>
							{% endfor %}


							<!--                        <li class="comment">-->
							<!--                            <div class="vcard bio">-->
							<!--                                <img src="/static/images/person_1.jpg" alt="Image placeholder">-->
							<!--                            </div>-->
							<!--                            <div class="comment-body">-->
							<!--                                <h3>John Doe</h3>-->
							<!--                                <div class="meta mb-2">June 27, 2019 at 2:21pm</div>-->
							<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum-->
							<!--                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente-->
							<!--                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
							<!--                                <p><a href="#" class="reply">Reply</a></p>-->
							<!--                            </div>-->

							<!--                            <ul class="children">-->
							<!--                                <li class="comment">-->
							<!--                                    <div class="vcard bio">-->
							<!--                                        <img src="/static/images/person_1.jpg" alt="Image placeholder">-->
							<!--                                    </div>-->
							<!--                                    <div class="comment-body">-->
							<!--                                        <h3>John Doe</h3>-->
							<!--                                        <div class="meta mb-2">June 27, 2019 at 2:21pm</div>-->
							<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem-->
							<!--                                            laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe-->
							<!--                                            enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,-->
							<!--                                            nihil?</p>-->
							<!--                                        <p><a href="#" class="reply">Reply</a></p>-->
							<!--                                    </div>-->


							<!--                                    <ul class="children">-->
							<!--                                        <li class="comment">-->
							<!--                                            <div class="vcard bio">-->
							<!--                                                <img src="/static/images/person_1.jpg" alt="Image placeholder">-->
							<!--                                            </div>-->
							<!--                                            <div class="comment-body">-->
							<!--                                                <h3>John Doe</h3>-->
							<!--                                                <div class="meta mb-2">June 27, 2019 at 2:21pm</div>-->
							<!--                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur-->
							<!--                                                    quidem laborum necessitatibus, ipsam impedit vitae autem, eum-->
							<!--                                                    officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum-->
							<!--                                                    impedit necessitatibus, nihil?</p>-->
							<!--                                                <p><a href="#" class="reply">Reply</a></p>-->
							<!--                                            </div>-->

							<!--                                            <ul class="children">-->
							<!--                                                <li class="comment">-->
							<!--                                                    <div class="vcard bio">-->
							<!--                                                        <img src="/static/images/person_1.jpg" alt="Image placeholder">-->
							<!--                                                    </div>-->
							<!--                                                    <div class="comment-body">-->
							<!--                                                        <h3>John Doe</h3>-->
							<!--                                                        <div class="meta mb-2">June 27, 2019 at 2:21pm</div>-->
							<!--                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
							<!--                                                            Pariatur quidem laborum necessitatibus, ipsam impedit vitae-->
							<!--                                                            autem, eum officia, fugiat saepe enim sapiente iste iure!-->
							<!--                                                            Quam voluptas earum impedit necessitatibus, nihil?</p>-->
							<!--                                                        <p><a href="#" class="reply">Reply</a></p>-->
							<!--                                                    </div>-->
							<!--                                                </li>-->
							<!--                                            </ul>-->
							<!--                                        </li>-->
							<!--                                    </ul>-->
							<!--                                </li>-->
							<!--                            </ul>-->
							<!--                        </li>-->

						</ul>
						<!-- END comment-list -->

						{% include "blogs/comment-form.html" with blog=blog %}
					</div>
				</div> <!-- .col-md-8 -->

				<div class="col-lg-4 sidebar ftco-animate">
					<!--                <div class="sidebar-box">-->
					<!--                    <form action="#" class="search-form">-->
					<!--                        <div class="form-group">-->
					<!--                            <span class="icon icon-search"></span>-->
					<!--                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">-->
					<!--                        </div>-->
					<!--                    </form>-->
					<!--                </div>-->
					
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Why Work With Us...</h1>
							<p class="card-text">Clients Choose to work with us because of the specialities mention below</p>
							<b>Transparencey</b>
							<p class="card-text">We are transparent with ur plans and decisions.We maintain a constant report with our clients to convey the updates and have decision over them.</p>
							<b>Efficiency</b>
							<p class="card-text">Our Team has In depth knowledge of Technology which helps us provide clients with the most effective package to grow your bussiness.</p>
							<b>Pricing</b>
							<p clas='card-text'>We offer most competitive pricing packages customized to your needs without asking for any long term commitments.</p>
							<h4><a href="/contact-us" class="btn btn-primary px-4 py-3 mt-3">Let Us Work Together</a></h4>
						</div>
					</div>
					
					<div class="sidebar-box ftco-animate">
						<h3>Category</h3>
						<ul class="categories">
							{% for category in categories %}
								<li>
									<a href="#" style="color: black">{{ category.title }}<span>({{ category.blogs.all|length }})</span></a>
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="sidebar-box ftco-animate" id="sticky">
						<h3>Related Articles</h3>
						{% for related_blog in blog.related_blogs.all %}
							<div class="block-21 mb-4 d-flex">
								<a  href="{{ related_blog.get_absolute_url }}" class="blog-img mr-4"
								   style="background-image: url({{ related_blog.thumbnail.url }});"></a>
								<div class="text">
									<h3 class="heading"><a href="{{ related_blog.get_absolute_url }}">{{ related_blog.title }}</a></h3>
									<div class="meta">
										<div><span class="icon-calendar"></span> {{ related_blog.date|date:"d M Y" }}</div>
										<div><span class="icon-person"></span> {{ related_blog.author }}</div>
{#										<div><a href="#"><span class="icon-chat"></span> 19</a></div>#}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					
					
					

					<!--                <div class="sidebar-box ftco-animate">-->
					<!--                    <h3>Tag Cloud</h3>-->
					<!--                    <ul class="tagcloud m-0 p-0">-->
					<!--                        <a href="#" class="tag-cloud-link">School</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Kids</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Nursery</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Daycare</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Care</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Kindergarten</a>-->
					<!--                        <a href="#" class="tag-cloud-link">Teacher</a>-->
					<!--                    </ul>-->
					<!--                </div>-->

					<!--                <div class="sidebar-box ftco-animate">-->
					<!--                    <h3>Archives</h3>-->
					<!--                    <ul class="categories">-->
					<!--                        <li><a href="#">December 2018 <span>(30)</span></a></li>-->
					<!--                        <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>-->
					<!--                        <li><a href="#">September 2018 <span>(6)</span></a></li>-->
					<!--                        <li><a href="#">August 2018 <span>(8)</span></a></li>-->
					<!--                    </ul>-->
					<!--                </div>-->


					<!--                <div class="sidebar-box ftco-animate">-->
					<!--                    <h3>Paragraph</h3>-->
					<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus-->
					<!--                        voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur-->
					<!--                        similique, inventore eos fugit cupiditate numquam!</p>-->
					<!--                </div>-->
				</div><!-- END COL -->
			</div>
			<br>
			<div class="about-author d-flex p-4 bg-light justify-content-center">
              <!-- <div class="bio mr-5">
                <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div> -->
              <div class="desc">
                <h3>About Hexanovate</h3>
                <p>
                  When it comes to businesses, we provide you a complete package
                  of services that will help you to grow your business. You can
                  rely on us for digital transformation and focus on operations
                  specific to your business. We come up with mobile and web
                  application development, and other software solutions with the
                  use of apt technolgy, graphics designing, IT consultancy along
                  with SEO techniques, social media marketing campaigns and
                  content marketing.
                </p>
                <h3>
                  <a href="contact.html" class="btn btn-primary px-4 py-3 mt-3">Get in touch</a>
                </h3>
              </div>
            </div>
		</div>

	</section>

	{% include "base/get-in-touch.html" with data="Do you have a project to discuss?" %}
	{% include "base/socialshare.html" %}
	<script>
        {#const editorContent = document.getElementById("editorBlogContent");#}
        {#editorContent.getElementsByTagName("img").src = "fewhdbf"#}
    </script>
{% endblock %}


