{% extends "base.html" %}
{% load static %}

{% block title %}Blogs {% endblock %}

{% block content %}

{% include "snippets/hero-wrap.html" with title='Our Blogs' from='Home' to='Blogs' %}
    <section class="ftco-section bg-light justify-content-center">
        <div class="container">
            <div class="row ">
                <div class="col-sm-4">
                    <br>
                    {% include 'snippets/category-selection-form.html' with categories=categories %}
                </div>
            </div>
            <div class="row">
                
                {% for blog in object_list %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        {% include "blogs/blog-card.html" with blog=blog %}
                    </div>
                {% endfor %}
            </div>

            {% include "blogs/pagination.html" %}
        </div>
    </section>

    {% include "base/get-in-touch.html" with data="Want to reach out to us?" %}

    <script>
        function selectCategory(category_id) {
            if (category_id === "0")
                window.location.search = "";
            else
                window.location.search = "?category=" + category_id;
        }
    </script>
{% include 'base/socialicons.html' %}
{% include 'base/phone.html' %}
{% endblock %}