{% extends "base.html" %}
{% load static %}

{% block title %}Portfolio {% endblock %}

{% block content %}
{% include "snippets/hero-wrap.html" with title='Portfolio' from='Home' to='Portfolio' %}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Our Projects</h2>
                <p>Our team is engaged in a variety of influential projects. Below mentioned are some of the outstanding outcomes.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
				{% include "portfolio/project-card.html" %}
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg height="52" viewBox="0 0 64 64" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m6 58h27v-2h-27a2 2 0 0 1 -2-2v-38h50v15h2v-21a4 4 0 0 0 -4-4h-46a4 4 0 0 0 -4 4v44a4 4 0 0 0 4 4zm0-50h46a2 2 0 0 1 2 2v4h-50v-4a2 2 0 0 1 2-2z"></path><path d="m6 10h2v2h-2z"></path><path d="m10 10h2v2h-2z"></path><path d="m14 10h2v2h-2z"></path><path d="m7 51h17v2h-17z"></path><path d="m9 47h2v2h-2z"></path><path d="m13 47h13v2h-13z"></path><path d="m18 41v-2.664a75.025 75.025 0 0 1 9.067-1.17l-.134-1.995a77.621 77.621 0 0 0 -8.933 1.129v-2.442a4 4 0 0 0 3-3.858c0-1.436-1.24-7-4-7s-4 5.564-4 7a4 4 0 0 0 3 3.858v2.832a63.577 63.577 0 0 0 -7 1.888v-17.578h40v6h2v-7a1 1 0 0 0 -1-1h-42a1 1 0 0 0 -1 1v24a1 1 0 0 0 1 1h18v-2h-17v-2.3a60.562 60.562 0 0 1 7-1.95v2.25zm-3-11c0-1.659 1.293-4.883 2-5 .712.117 2 3.341 2 5a2 2 0 0 1 -4 0z"></path><path d="m61.487 57.243-5.98-5.98a15.026 15.026 0 1 0 -4.244 4.244l5.98 5.98a1 1 0 0 0 1.414 0l2.83-2.83a1 1 0 0 0 0-1.414zm-31.487-14.243a13 13 0 1 1 13 13 13.015 13.015 0 0 1 -13-13zm27.95 16.366-5.09-5.09a15.02 15.02 0 0 0 1.416-1.416l5.09 5.09z"></path><path d="m43 32a11 11 0 1 0 11 11 11.013 11.013 0 0 0 -11-11zm0 20a9 9 0 1 1 9-9 9.011 9.011 0 0 1 -9 9z"></path><path d="m29.5 32.331 1-1.732a3 3 0 1 1 4.5-2.599h2a5 5 0 1 0 -7.5 4.331z"></path><path d="m19 2h26v2h-26z"></path><path d="m47 2h2v2h-2z"></path>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Detection of Image Forgery</h3>
                        <p>An application to detect copy-move and image-splicing forgery in an image for content changing manipulation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class=""><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 14 16">
								<path fill-rule="evenodd" d="M0 2l7-2 7 2v6.02C14 12.69 8.69 16 7 16c-1.69 0-7-3.31-7-7.98V2zm1 .75L7 1l6 1.75v5.268C13 12.104 8.449 15 7 15c-1.449 0-6-2.896-6-6.982V2.75zm1 .75L7 2v12c-1.207 0-5-2.482-5-5.985V3.5z"></path>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Kavach</h3>
                        <p>Blockchain Based Centralized KYC System for decentralized and secure personal data management and sharing.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m452.128906 417.730469v-8.410157c0-.855468 0-1.761718.0625-2.648437.582032-5.230469-.398437-10.515625-2.824218-15.1875-5.0625-6.820313-12.03125-11.984375-20.03125-14.839844-1.703126-.792969-3.242188-1.535156-4.625-2.269531-9.480469-5.121094-18.960938-10.179688-28.296876-15.523438-10.769531-6.535156-22.566406-11.210937-34.890624-13.824218-13.300782-3.703125-25.890626-9.589844-37.257813-17.425782v-13.148437c1.246094-1.1875 2.414063-2.371094 3.796875-3.550781 2.355469-1.996094 4.597656-4.113282 6.726562-6.347656 2.179688-2.191407 3.003907-5.390626 2.15625-8.363282-.851562-2.972656-3.242187-5.253906-6.253906-5.960937-3.007812-.710938-6.164062.265625-8.25 2.546875-1.714844 1.804687-3.523437 3.515625-5.417968 5.121094-8.820313 7.746093-16.621094 16.578124-23.210938 26.292968-8.800781 12.191406-12.878906 17.140625-24.5 17.140625h-26.625c-11.621094 0-15.667969-4.949219-24.5-17.152343-6.597656-9.71875-14.40625-18.5625-23.234375-26.316407-1.890625-1.605469-3.691406-3.316406-5.394531-5.117187-2.085938-2.285156-5.242188-3.257813-8.25-2.550782-3.011719.707032-5.402344 2.988282-6.253906 5.960938-.847657 2.972656-.023438 6.171875 2.15625 8.363281 2.117187 2.226563 4.355468 4.335938 6.699218 6.324219 1.398438 1.1875 2.558594 2.378906 3.824219 3.574219v13.167969c-11.375 7.820312-23.964844 13.699218-37.257813 17.40625-12.324218 2.613281-24.117187 7.289062-34.882812 13.824218-9.34375 5.34375-18.824219 10.4375-28.304688 15.523438-1.382812.734375-2.960937 1.476562-4.625 2.269531-7.996093 2.855469-14.960937 8.015625-20.019531 14.832031-2.433593 4.671875-3.417969 9.960938-2.835937 15.199219 0 .851563.070312 1.765625.0625 2.660156v8.390625c.121094 14.472656 11.929687 26.117188 26.402344 26.042969h339.453124c14.457032.074219 26.257813-11.546875 26.402344-26.003906zm-375.191406-.050781v-8.234376c0-1.125 0-2.261718-.078125-3.414062-.292969-2.003906-.113281-4.046875.519531-5.972656 3.539063-3.558594 7.824219-6.292969 12.546875-8.003906 1.960938-.921876 3.804688-1.800782 5.425781-2.660157 9.617188-5.121093 19.234376-10.335937 28.714844-15.753906 9.136719-5.585937 19.144532-9.601563 29.609375-11.878906 1.546875-.289063 3.125-.683594 4.703125-1.117188-1.082031 18.320313.570313 46.148438 16.445313 65.996094h-88.550781c-5.046876.085937-9.214844-3.914063-9.335938-8.960937zm230.808594 8.988281h-106.863282c-28.160156-15.234375-26.863281-55.246094-24.746093-72.867188 4.191406-2.023437 8.140625-4.15625 11.621093-6.167969v10.765626c0 4.714843 3.820313 8.535156 8.535157 8.535156 4.710937 0 8.53125-3.820313 8.53125-8.535156v-23.628907c8.824219 12.238281 17.402343 23.628907 37.863281 23.628907h26.625c20.480469 0 29.011719-11.390626 37.886719-23.628907v23.628907c0 4.714843 3.820312 8.535156 8.535156 8.535156 4.710937 0 8.53125-3.820313 8.53125-8.535156v-10.765626c3.484375 2.011719 7.433594 4.144532 11.625 6.167969 2.089844 17.621094 3.410156 57.632813-24.75 72.867188zm127.394531-20.617188c-.042969 1.132813-.085937 2.269531-.078125 3.414063v8.257812c-.128906 5.039063-4.296875 9.03125-9.335938 8.945313h-88.550781c15.875-19.851563 17.527344-47.675781 16.445313-66 1.578125.4375 3.15625.855469 4.703125 1.121093 10.464843 2.277344 20.476562 6.292969 29.617187 11.878907 9.472656 5.417969 19.089844 10.589843 28.707032 15.75 1.621093.855469 3.464843 1.707031 5.425781 2.664062 4.726562 1.710938 9.011719 4.445313 12.554687 8.011719.625 1.921875.800782 3.957031.511719 5.957031zm0 0"></path><path d="m382.601562 214.902344c1.875-11.269532 4.582032-38.050782-10.726562-43.109375-4.363281-1.429688-9.054688-1.523438-13.476562-.273438 0-4.957031-.050782-10.042969-.238282-15.292969 0-2.140624-.085937-4.460937-.1875-6.945312l-.246094-4.667969c-2.96875-57.574219-63.257812-75.109375-95.070312-76.347656h-13.652344c-31.480468 1.230469-91.769531 18.773437-94.722656 76.355469l-.261719 5.121094c-.09375 2.238281-.171875 4.394531-.164062 6.332031-.179688 5.375-.253907 10.488281-.253907 15.445312-4.375-1.253906-9.023437-1.167969-13.347656.246094-15.429687 5.0625-12.800781 31.832031-10.886718 43.523437 4.675781 15.878907 16.082031 28.90625 31.203124 35.640626-.082031 1.707031-.160156 3.414062-.21875 5.0625h-126.21875c-4.710937 0-8.53125 3.820312-8.53125 8.53125 0 4.714843 3.820313 8.535156 8.53125 8.535156h443.734376c4.710937 0 8.53125-3.820313 8.53125-8.535156 0-4.710938-3.820313-8.53125-8.53125-8.53125h-126.234376c-.058593-1.707032-.136718-3.363282-.222656-5.0625 15.230469-6.78125 26.660156-19.980469 31.191406-36.027344zm-16.753906-3.277344c-2.503906 7.777344-7.496094 14.515625-14.207031 19.175781.445313-3.464843 1.101563-6.828125 1.871094-10.675781 2.097656-9.792969 3.5-19.722656 4.195312-29.710938 2.257813-1.78125 5.066407-2.71875 7.9375-2.65625 1.707031 7.859376 1.777344 15.984376.203125 23.867188zm-219.695312.480469c-1.636719-8.042969-1.554688-16.339844.246094-24.347657 2.859374-.046874 5.644531.890626 7.894531 2.65625.695312 9.988282 2.097656 19.917969 4.195312 29.710938.769531 3.832031 1.425781 7.21875 1.871094 10.691406-6.589844-4.574218-11.5625-11.113281-14.207031-18.6875zm31.289062 43.894531c.070313-1.511719.128906-3.019531.207032-4.539062l.167968-5.597657c.019532-.308593.019532-.617187 0-.921875l.164063-5.582031c-.109375-7.601563-1.042969-15.167969-2.78125-22.570313-2.226563-10.273437-3.609375-20.707031-4.140625-31.207031-.484375-9.078125-.535156-18.515625-.160156-29.335937 0-1.871094.074218-3.816406.152343-6.023438l.265625-4.722656c2.882813-56.386719 75.261719-60.046875 78.003906-60.167969h12.976563c.761719 0 75.445313 3.59375 78.335937 60.179688l.257813 4.589843c.074219 2.109376.160156 4.207032.167969 6.449219.367187 10.445313.316406 19.945313-.167969 29.015625-.53125 10.503906-1.914063 20.945313-4.140625 31.222656-1.742188 7.402344-2.671875 14.96875-2.78125 22.570313l.164062 5.582031c-.019531.304688-.019531.613282 0 .921875l.167969 5.597657c.078125 1.519531.136719 3.027343.207031 4.539062zm0 0"></path><path d="m8.535156 76.800781c4.710938 0 8.53125-3.820312 8.53125-8.535156v-25.597656c0-14.140625 11.460938-25.601563 25.601563-25.601563h25.597656c4.714844 0 8.535156-3.820312 8.535156-8.53125 0-4.714844-3.820312-8.535156-8.535156-8.535156h-25.597656c-23.554688.0273438-42.6406252 19.113281-42.667969 42.667969v25.597656c0 4.714844 3.820312 8.535156 8.535156 8.535156zm0 0"></path><path d="m68.265625 494.933594h-25.597656c-14.140625 0-25.601563-11.460938-25.601563-25.601563v-25.597656c0-4.714844-3.820312-8.535156-8.53125-8.535156-4.714844 0-8.535156 3.820312-8.535156 8.535156v25.597656c.0273438 23.554688 19.113281 42.640625 42.667969 42.667969h25.597656c4.714844 0 8.535156-3.820312 8.535156-8.535156 0-4.710938-3.820312-8.53125-8.535156-8.53125zm0 0"></path><path d="m503.464844 435.199219c-4.710938 0-8.53125 3.820312-8.53125 8.535156v25.597656c0 14.140625-11.460938 25.601563-25.601563 25.601563h-25.597656c-4.714844 0-8.535156 3.820312-8.535156 8.53125 0 4.714844 3.820312 8.535156 8.535156 8.535156h25.597656c23.554688-.027344 42.640625-19.113281 42.667969-42.667969v-25.597656c0-4.714844-3.820312-8.535156-8.535156-8.535156zm0 0"></path><path d="m469.332031 0h-25.597656c-4.714844 0-8.535156 3.820312-8.535156 8.535156 0 4.710938 3.820312 8.53125 8.535156 8.53125h25.597656c14.140625 0 25.601563 11.460938 25.601563 25.601563v25.597656c0 4.714844 3.820312 8.535156 8.53125 8.535156 4.714844 0 8.535156-3.820312 8.535156-8.535156v-25.597656c-.027344-23.554688-19.113281-42.6406252-42.667969-42.667969zm0 0"></path><path d="m51.199219 68.265625v-17.066406h17.066406c4.714844 0 8.535156-3.820313 8.535156-8.53125 0-4.714844-3.820312-8.535157-8.535156-8.535157h-17.066406c-9.425781 0-17.066407 7.640626-17.066407 17.066407v17.066406c0 4.714844 3.820313 8.535156 8.535157 8.535156 4.710937 0 8.53125-3.820312 8.53125-8.535156zm0 0"></path><path d="m68.265625 460.800781h-17.066406v-17.066406c0-4.714844-3.820313-8.535156-8.53125-8.535156-4.714844 0-8.535157 3.820312-8.535157 8.535156v17.066406c0 9.425781 7.640626 17.066407 17.066407 17.066407h17.066406c4.714844 0 8.535156-3.820313 8.535156-8.535157 0-4.710937-3.820312-8.53125-8.535156-8.53125zm0 0"></path><path d="m460.800781 443.734375v17.066406h-17.066406c-4.714844 0-8.535156 3.820313-8.535156 8.53125 0 4.714844 3.820312 8.535157 8.535156 8.535157h17.066406c9.425781 0 17.066407-7.640626 17.066407-17.066407v-17.066406c0-4.714844-3.820313-8.535156-8.535157-8.535156-4.710937 0-8.53125 3.820312-8.53125 8.535156zm0 0"></path><path d="m469.332031 76.800781c4.714844 0 8.535157-3.820312 8.535157-8.535156v-17.066406c0-9.425781-7.640626-17.066407-17.066407-17.066407h-17.066406c-4.714844 0-8.535156 3.820313-8.535156 8.535157 0 4.710937 3.820312 8.53125 8.535156 8.53125h17.066406v17.066406c0 4.714844 3.820313 8.535156 8.53125 8.535156zm0 0"></path>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Authentication System</h3>
                        <p>Face recognition based authentication and security system is developed for the society.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 8 8">
								<path d="M.5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6z"></path>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Digi Trader</h3>
                        <p>Digitrader, an android application, generates e-receipt and sends it to the customer through online means.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_3" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve" width="50" height="50">
								<g><path d="M50,55h-1V36c0-0.553-0.448-1-1-1H16c-0.552,0-1,0.447-1,1v19h-1c-0.552,0-1,0.447-1,1v4c0,1.654,1.346,3,3,3h32   c1.654,0,3-1.346,3-3v-4C51,55.447,50.552,55,50,55z M17,37h30v18h-2V40c0-0.553-0.448-1-1-1H20c-0.552,0-1,0.447-1,1v15h-2V37z    M43,55H21V41h22V55z M49,60c0,0.552-0.449,1-1,1H16c-0.551,0-1-0.448-1-1v-3h1h32h1V60z"></path><path d="M24,53h8c0.552,0,1-0.447,1-1v-8c0-0.553-0.448-1-1-1h-8c-0.552,0-1,0.447-1,1v8C23,52.553,23.448,53,24,53z M25,45h6v6h-6   V45z"></path><rect x="35" y="43" width="6" height="2"></rect><rect x="35" y="47" width="6" height="2"></rect><rect x="35" y="51" width="6" height="2"></rect><path d="M20,33h24c0.552,0,1-0.447,1-1V17h3c0.552,0,1-0.447,1-1v-4c0-0.553-0.448-1-1-1h-3V9h3c0.552,0,1-0.447,1-1V4   c0-0.553-0.448-1-1-1h-3V2c0-0.553-0.448-1-1-1H20c-0.552,0-1,0.447-1,1v30C19,32.553,19.448,33,20,33z M47,13v2h-2v-2H47z M47,5v2   h-2V5H47z M21,3h22v28H21V3z"></path><path d="M32.6,5.2c-0.355-0.268-0.845-0.268-1.2,0l-8,6C23.148,11.389,23,11.686,23,12c0,4.137,1.611,8.025,4.536,10.949   l3.757,3.758C31.48,26.895,31.735,27,32,27s0.52-0.105,0.707-0.293l3.757-3.758C39.389,20.025,41,16.137,41,12   c0-0.314-0.148-0.611-0.4-0.8L32.6,5.2z M35.05,21.535L32,24.586l-3.05-3.051c-2.431-2.43-3.819-5.624-3.941-9.042L32,7.25   l6.991,5.243C38.869,15.911,37.481,19.105,35.05,21.535z"></path><path d="M28,16c0,2.206,1.794,4,4,4s4-1.794,4-4s-1.794-4-4-4S28,13.794,28,16z M34,16c0,1.103-0.897,2-2,2s-2-0.897-2-2   s0.897-2,2-2S34,14.897,34,16z"></path><path d="M62,18h-6v-3c0-0.385-0.22-0.734-0.567-0.901c-0.346-0.167-0.757-0.12-1.058,0.12l-5,4C49.138,18.409,49,18.696,49,19   s0.138,0.591,0.375,0.781l5,4C54.556,23.926,54.777,24,55,24c0.147,0,0.295-0.032,0.433-0.099C55.78,23.734,56,23.385,56,23v-3h5   v24h-8v2h9c0.552,0,1-0.447,1-1V19C63,18.447,62.552,18,62,18z M54,20.919L51.601,19L54,17.081V20.919z"></path><path d="M3,20h5v3c0,0.385,0.22,0.734,0.567,0.901C8.705,23.968,8.853,24,9,24c0.223,0,0.444-0.074,0.625-0.219l5-4   C14.862,19.591,15,19.304,15,19s-0.138-0.591-0.375-0.781l-5-4c-0.301-0.241-0.712-0.288-1.058-0.12C8.22,14.266,8,14.615,8,15v3H2   c-0.552,0-1,0.447-1,1v26c0,0.553,0.448,1,1,1h9v-2H3V20z M10,17.081L12.399,19L10,20.919V17.081z"></path></g>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Samiksh</h3>
                        <p>Digital Criminal Record Management System for the police station. Deployed at Vishrambag Police station, Sangli.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-left noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg version="1.1" width="50" height="50" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
								<g><g><path d="M328,0H152c-22.08,0.026-39.974,17.92-40,40v400c0.026,22.08,17.92,39.974,40,40h176c22.08-0.026,39.974-17.92,40-40V40 C367.974,17.92,350.08,0.026,328,0z M352,440c0,13.255-10.745,24-24,24H152c-13.255,0-24-10.745-24-24v-24h224V440z M352,400H128 V88h224V400z M352,72H128V40c0-13.255,10.745-24,24-24h176c13.255,0,24,10.745,24,24V72z"></path></g></g><g><g><rect x="184" y="40" width="112" height="16"></rect></g></g><g><g><rect x="224" y="432" width="32" height="16"></rect></g></g><g><g><rect x="144" y="104" width="32" height="16"></rect></g></g><g><g><rect x="192" y="104" width="32" height="16"></rect></g></g><g><g><path d="M168,232c-4.418,0-8,3.582-8,8v40c0,4.418,3.582,8,8,8s8-3.582,8-8v-40C176,235.582,172.418,232,168,232z"></path></g></g><g><g><path d="M312,232c-4.418,0-8,3.582-8,8v40c0,4.418,3.582,8,8,8s8-3.582,8-8v-40C320,235.582,316.418,232,312,232z"></path></g></g><g><g><path d="M264,184v-16c0-4.418-3.582-8-8-8s-8,3.582-8,8v16h-16v-16c0-4.418-3.582-8-8-8s-8,3.582-8,8v16 c-13.255,0-24,10.745-24,24v120h16v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32h32v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32h16V208 C288,194.745,277.255,184,264,184z M272,312h-64v-64h64V312z M272,232h-64v-24c0-4.418,3.582-8,8-8h48c4.418,0,8,3.582,8,8V232z"></path></g></g>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>Student Insignia</h3>
                        <p>An Android Application used for Attendance System. Deployed in Walchand College of Engineering, Sangli.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg height="50" viewBox="0 0 64 64" width="50" xmlns="http://www.w3.org/2000/svg">
								<g id="Picture-2" data-name="Picture"><path d="m57 2h-50a5.006 5.006 0 0 0 -5 5v36a5.006 5.006 0 0 0 5 5h17v6h-10a4 4 0 0 0 0 8h36a4 4 0 0 0 0-8h-10v-6h17a5.006 5.006 0 0 0 5-5v-36a5.006 5.006 0 0 0 -5-5zm-5 56a2 2 0 0 1 -2 2h-36a2 2 0 0 1 0-4h36a2 2 0 0 1 2 2zm-14-4h-12v-6h12zm22-11a3 3 0 0 1 -3 3h-50a3 3 0 0 1 -3-3v-36a3 3 0 0 1 3-3h50a3 3 0 0 1 3 3z"></path><path d="m57 6h-50a1 1 0 0 0 -1 1v34a1 1 0 0 0 1 1h50a1 1 0 0 0 1-1v-34a1 1 0 0 0 -1-1zm-1 2v4h-48v-4zm-48 6h23v26h-23zm25 26v-26h23v26z"></path><path d="m10 9h2v2h-2z"></path><path d="m14 9h2v2h-2z"></path><path d="m18 9h2v2h-2z"></path><path d="m53 16h-17a1 1 0 0 0 -1 1v10a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-10a1 1 0 0 0 -1-1zm-1 2v7.4l-3.219-4.024a1 1 0 0 0 -1.562 0l-1.6 2-2.851-3.959a1 1 0 0 0 -.808-.417 1 1 0 0 0 -.812.419l-4.148 5.805v-7.224zm-4.488 8-.676-.94 1.164-1.46 1.919 2.4zm-2.464 0h-6.148l3.06-4.284z"></path><path d="m35 30h2v2h-2z"></path><path d="m39 30h8v2h-8z"></path><path d="m49 30h5v2h-5z"></path><path d="m35 33h2v2h-2z"></path><path d="m39 33h15v2h-15z"></path><path d="m10 16h3v2h-3z"></path><path d="m15 16h4v2h-4z"></path><path d="m21 16h2v2h-2z"></path><path d="m12 19h2v2h-2z"></path><path d="m16 19h4v2h-4z"></path><path d="m22 19h3v2h-3z"></path><path d="m14 22h5v2h-5z"></path><path d="m21 22h6v2h-6z"></path><path d="m10 30h2v2h-2z"></path><path d="m14 30h7v2h-7z"></path><path d="m12 33h2v2h-2z"></path><path d="m16 33h4v2h-4z"></path><path d="m22 33h2v2h-2z"></path><path d="m15 36h5v2h-5z"></path><path d="m22 36h6v2h-6z"></path><path d="m12 26h2v2h-2z"></path><path d="m16 26h8v2h-8z"></path><path d="m26 26h2v2h-2z"></path><path d="m35 36h19v2h-19z"></path></g>
							</svg></span></div>
                    <div class="text media-body">
                        <h3>PyCresta</h3>
                        <p>An application which allows to visualize the different colour of walls during the painting or construction work.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom ftco-animate">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon"><svg id="Layer_3" enable-background="new 0 0 64 64" height="50" viewBox="0 0 64 64" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="m62 15h-3v-3c0-.308-.142-.599-.385-.788-.243-.19-.56-.258-.857-.182l-12.758 3.189v-8.219c0-2.757-2.243-5-5-5h-34c-2.757 0-5 2.243-5 5v52c0 2.757 2.243 5 5 5h34c2.757 0 5-2.243 5-5v-13.719l17.242-4.311c.446-.111.758-.511.758-.97v-23c0-.552-.447-1-1-1zm-21 27.719-18-4.5v-21.219h2v19c0 .459.312.859.758.97l15.242 3.811zm0-24.66c-4.493.5-8 4.317-8 8.941s3.507 8.442 8 8.941v2.778l-14-3.5v-21.938l14 3.5zm1 15.941c-3.859 0-7-3.14-7-7s3.141-7 7-7 7 3.14 7 7-3.141 7-7 7zm-3-19.781-12.758-3.189c-.297-.074-.614-.007-.857.182s-.385.48-.385.788v3h-3c-.553 0-1 .448-1 1v23c0 .459.312.859.758.97l17.242 4.311v4.719h-32v-42h32zm4 21.722c4.493-.5 8-4.317 8-8.941s-3.507-8.442-8-8.941v-1.278l14-3.5v21.938l-14 3.5zm0 22.059c0 1.654-1.346 3-3 3h-34c-1.654 0-3-1.346-3-3v-52c0-1.654 1.346-3 3-3h34c1.654 0 3 1.346 3 3v8.719l-1 .25-1-.25v-7.719c0-1.103-.897-2-2-2h-32c-1.103 0-2 .897-2 2v42c0 1.103.897 2 2 2h32c1.103 0 2-.897 2-2v-4.219l.758.189c.079.02.161.03.242.03s.163-.01.242-.03l.758-.189zm18-19.781-18 4.5v-1.938l15.242-3.811c.446-.111.758-.511.758-.97v-19h2z"></path><path d="m39 23v8c0 .552.447 1 1 1h5v-2h-4v-2h4v-2h-4v-2h4v-2h-5c-.553 0-1 .448-1 1z"></path><path d="m23 53c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zm0 4c-.552 0-1-.449-1-1s.448-1 1-1 1 .449 1 1-.448 1-1 1z"></path>
								</svg></span></div>
                    <div class="text media-body">
                        <h3>Read</h3>
                        <p>A document recognition application built for easy scanning of handwritten documents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "base/get-in-touch.html" with data="Do you want to deep dive into the projects?" %}

{% include 'base/socialicons.html' %}
{% include 'base/phone.html' %}

{% endblock %}