{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
{% include "snippets/hero-wrap.html" with title='Products' from='Home' to='Products' %}
<br>



<section class="ftco-section ftco-counter">
    <div class="container">
    {% for i in products %}
    <div class="row justify-content-center mb-5 pb-2 d-flex">
            
           
   

    <div class="col-md-7 wrap-about pr-md-4 ftco-animate justify-content-center text-center">

        <h2 class="mb-4">{{i.product_name}}</h2>
        </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <img src="{{MEDIA_URL}}{{i.product_image}}" height=50% width=50%>
            </div>
            
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
               
                <p>{{i.product_description}}</p>
                
            </div>
        </div>
        {% endfor %}
    </div> 
    
    
</section>







{% include 'base/socialicons.html' %}
{% include 'base/phone.html' %}

{% endblock %}